<a class="card" href="https://medium.com/damirs-portfolio/designing-the-future-payment-experience-at-booking-com-dfd7f2b54d56" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_booking_4.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Designing Payments at Booking.com</h3>
  <p>Designing the future payment experience for millions of customers in 191 countries around the world.</p>
  <div class="cardButton">Read more {% include iconChevronRight.svg %}</div>
</a>
