<a class="card" href="https://medium.com/damirs-portfolio/designing-a-conversational-experience-to-help-people-learn-better-b72835000fe1" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_forgetMeNot_1.jpg" alt="" width="1600" height="900"></img>
  </div>
  <h3>Chatbot iOS App</h3>
  <p>Ground-up design of a learning app created for an Australian startup aiming to transform the corporate L&D space.</p>
  <div class="cardButton">Read more {% include iconChevronRight.svg %}</div>
</a>
