<a class="card" href="https://medium.theuxblog.com/three-intense-months-of-teaching-ux-design-at-general-assembly-8b15a929ca97" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_ga_1.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Teaching UX Design at General Assembly</h3>
  <p>Leading the kickstart of 18 new design careers in Melbourne, Australia.</p>
  <div class="cardButton button -arrow">Read more{% include iconChevronRight.svg %}</div>
</a>
