<a class="card" href="https://blog.archimedes.digital/visualizing-the-pyramids-uncover-the-hidden-stories-of-egypt-in-augmented-reality-with-harvards-d03a3eb8fd63" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_giza_3.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Giza AR</h3>
  <p>Creating an AR "window into the past" at the Great Pyramids of Giza, Egypt.</p>
  <div class="cardButton button -arrow">Read more{% include iconChevronRight.svg %}</div>
</a>
