<a class="card" href="https://www.figma.com/proto/crhJ72RjcOT3ud9iU2Roeh/NSW-Climate-Data-Portal-Copy?node-id=201%3A4626&viewport=9572%2C-2297%2C0.2350064218044281&scaling=min-zoom" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_nsw_1.jpg" alt="" width="1600" height="900">
  </div>
  <h3>NSW Climate Data Portal</h3>
  <p>Designing an open data portal holding terabytes of climate data for the New South Wales government.</p>
  <div class="cardButton">Explore prototype {% include iconChevronRight.svg %}</div>
</a>
