<a class="card" href="https://www.figma.com/proto/LyRSmZ8E4ge3J7i85Jx17s/Public-Art?node-id=132%3A25796&viewport=804%2C120%2C0.017897576093673706&scaling=contain" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/portfolio_publicArt_1.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Boston North End Public Art</h3>
  <p>An AR app aimed at cultural preservation an iconic neighbourhood in Boston, USA.</p>
  <div class="cardButton button -arrow">Explore prototype{% include iconChevronRight.svg %}</div>
</a>
