---
layout: default
title: "Product Design Articles"
description: "The ins and outs of designing and building digital products. Handpicked from my Medium blog, and articles I wrote for renowned blogs like Toptal Design Blog and The Next Web."
activeNav: 4
---

<div class="hero">
  <div>
    <div class="heroContent">
      <h1>Product Design Articles</h1>
      <p>The ins and outs of designing and building digital products. <br class="showOnAndAboveBreakpoint2">Handpicked from <a href="https://damirkotoric.medium.com/" target="_blank">my Medium blog</a>, and articles I wrote for renowned blogs like Toptal Design Blog and The Next Web.</p>
    </div>
  </div>
</div>

<div class="post">
  <div class="articles">
    {% include article.html 
      url="https://www.toptal.com/designers/ux/champion-user"
      imageUrl="/assets/images/articles/dont-always-champion-user.png"
      title="Don’t Always Champion the User: How to Balance Business Priorities and UX"
      subtitle="Designers who advocate for the user without showing an awareness of business objectives are at risk of being ignored. These strategies will help you communicate the value of UX to stakeholders."
      logoUrlLight="/assets/images/logo-toptal-light.svg"
      logoUrlDark="/assets/images/logo-toptal-dark.svg"
    %}
    {% include article.html 
      url="https://www.toptal.com/designers/ui/future-ui-design"
      imageUrl="/assets/images/articles/future-design-tools.png"
      title="The Future of User Interface Design: Next-generation UI Tools"
      subtitle="The next wave of UI design tools will fully integrate design and code to provide a seamless experience for designers and developers."
      logoUrlLight="/assets/images/logo-toptal-light.svg"
      logoUrlDark="/assets/images/logo-toptal-dark.svg"
    %}
    {% include article.html 
      url="https://thenextweb.com/news/why-designers-should-stop-obsessing-over-trends-and-aim-for-timeless-design"
      imageUrl="/assets/images/articles/tnw-designers-stop-obsessing-trends.jpeg"
      title="Why designers should stop obsessing over trends and aim for ‘timeless design’"
      subtitle="The digital design industry is maturing. With established best practices and the advent of design systems, it is now possible to strive for a longer design life for the products we create. We can aim for digital classics instead of one-hit wonders."
      logoUrlLight="/assets/images/logo-tnw-light.svg"
      logoUrlDark="/assets/images/logo-tnw-dark.svg"
    %}
    <div class="callout">
      <div class="calloutImage">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M22 5.5H9C7.9 5.5 7 6.4 7 7.5V16.5C7 17.61 7.9 18.5 9 18.5H22C23.11 18.5 24 17.61 24 16.5V7.5C24 6.4 23.11 5.5 22 5.5M22 16.5H9V9.17L15.5 12.5L22 9.17V16.5M15.5 10.81L9 7.5H22L15.5 10.81M5 16.5C5 16.67 5.03 16.83 5.05 17H1C.448 17 0 16.55 0 16S.448 15 1 15H5V16.5M3 7H5.05C5.03 7.17 5 7.33 5 7.5V9H3C2.45 9 2 8.55 2 8S2.45 7 3 7M1 12C1 11.45 1.45 11 2 11H5V13H2C1.45 13 1 12.55 1 12Z" />
       </svg>
      </div>
      <div class="calloutContent">
        <h6>Extra! Extra!</h6>
        <p>Get an email in your inbox whenever I publish a new article.</p>
        <a class="heroContentButton button -small -greyscale" href="https://www.linkedin.com/in/damirkotoric/" target="_blank" rel="noopener">Subscribe to newsletter</a>
      </div>
    </div>
    {% include article.html 
      url="https://www.toptal.com/designers/ux/timeless-design"
      imageUrl="/assets/images/articles/timeless-design.png"
      title="The Past Is Still Present – An Overview of Timeless Design"
      subtitle="Will there ever be a digital equivalent to the ageless wonders of industrial design? We share examples of timeless design and detail how designers can ensure digital relevancy for decades to come."
      logoUrlLight="/assets/images/logo-toptal-light.svg"
      logoUrlDark="/assets/images/logo-toptal-dark.svg"
    %}
    {% include article.html 
      url="https://damirkotoric.medium.com/building-pixel-perfect-web-user-interfaces-512c8570cd25"
      imageUrl="/assets/images/articles/pixel-perfect.png"
      title="Building Pixel-Perfect Web User Interfaces"
      subtitle="How Damir Kotorić designs and develops robust web UIs at greater quality and speed than most traditional teams."
      logoUrlLight="/assets/images/"
      logoUrlDark="/assets/images/"
    %}
    {% include article.html 
      url="https://uxdesign.cc/designing-open-data-portals-for-government-85e2524f5877"
      imageUrl="/assets/images/articles/state-open-data.png"
      title="The State of Open-Data Design"
      subtitle="Looking at the state of UX in open data, and tips for how to navigate the beast that is government open data."
      logoUrlLight="/assets/images/logo-uxcollective-light.png"
      logoUrlDark="/assets/images/logo-uxcollective-dark.png"
    %}
    <div class="callout">
      <div class="calloutImage">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
        </svg>
      </div>
      <div class="calloutContent">
        <p>I write for leading publications on topics related to product design and how to navigate the startup journey. <a href="">Hire me</a> to write for your blog.</p>
      </div>
    </div>
    {% include article.html 
      url="https://bootcamp.uxdesign.cc/ux-discovery-what-it-is-why-its-essential-and-how-i-go-about-it-a4948bc3e5c0"
      imageUrl="/assets/images/articles/ux-discovery.png"
      title="UX Discovery: what it is, why it’s essential and how I go about it"
      subtitle="The discovery phase sets a solid foundation for a digital project."
      logoUrlLight="/assets/images/logo-bootcamp-light.png"
      logoUrlDark="/assets/images/logo-bootcamp-dark.png"
    %}
    {% include article.html 
      url="https://damirkotoric.medium.com/how-to-run-remote-design-sprints-6145b1d512a9"
      imageUrl="/assets/images/articles/remote-design-sprints.png"
      title="How to run remote Design Sprints"
      subtitle="The demand for distributed design workshop facilitation skills has gone from experimental nice-to-have, to an overnight must-have for designers around the globe."
    %}
    {% include article.html 
      url="https://arvrjourney.com/ramblings-on-vr-experiences-85ab6e34767f"
      imageUrl="/assets/images/articles/ramblings-vr.jpeg"
      title="Ramblings on VR Experiences"
      subtitle="Brain droppings from my recollection of my first VR experience on Oculus Go."
      logoUrlLight="/assets/images/logo-arvrjourney-light.png"
      logoUrlDark="/assets/images/logo-arvrjourney-dark.png"
    %}
    {% include article.html 
      url="https://damirkotoric.medium.com/the-dawn-of-the-indie-maker-d8d35668560d"
      imageUrl="/assets/images/articles/dawn-indie-maker.jpeg"
      title="The Dawn of The Indie Maker"
      subtitle="Armed with a laptop, an internet connection, open source tech, and a handful of digital tools, today’s solo makers are making a global impact."
      logoUrlLight="/assets/images/"
      logoUrlDark="/assets/images/"
    %}
    {% include article.html 
      url="https://medium.com/hackernoon/how-i-built-twipsum-in-two-weeks-9cdbcf996443"
      imageUrl="/assets/images/articles/twipsum.jpeg"
      title="Building Twipsum from idea to launch in two weeks"
      subtitle="An experimental side project, and the story of how I went about building it from concept to launch."
      logoUrlLight="/assets/images/logo-hackernoon-light.jpeg"
      logoUrlDark="/assets/images/logo-hackernoon-dark.jpeg"
    %}
    {% include article.html 
      url="https://medium.theuxblog.com/three-intense-months-of-teaching-ux-design-at-general-assembly-8b15a929ca97"
      imageUrl="/assets/images/articles/design-general-assembly.jpeg"
      title="Teaching Design at General Assembly"
      subtitle="The journey of teaching a three-month immersive course at one of Melbourne's premier UX bootcamp courses."
      logoUrlLight="/assets/images/logo-uxblog-light.png"
      logoUrlDark="/assets/images/logo-uxblog-dark.png"
    %}
    <!-- {% include article.html 
      url=""
      imageUrl="/assets/images/articles/"
      title=""
      subtitle=""
      logoUrlLight="/assets/images/"
      logoUrlDark="/assets/images/"
    %} -->
  </div>
  <!-- {% include quotes/charlesJennings.html %} -->
</div>
