---
layout: default
title: "Disciplines"
description: "Using my multisdisciplinary skillset, I bring new digital projects to life, and elevate existing sites and apps to their full potential."
activeNav: 3
---

<div class="hero" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <h1>Disciplines</h1>
      <p>Using my multisdisciplinary skillset, I bring new digital projects to life, and elevate existing sites and apps to their full potential.</p>
    </div>
  </div>
</div>

<div class="disciplines">
  <a href="/disciplines/design" class="disciplinesDiscipline" id="design">
    <div class="disciplinesDisciplineContent">
      <h2>Digital Product Design & Prototyping</h2>
      <p>Engaging experiences for web, mobile, AR and VR.</p>
      <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div>
    </div>
    <div class="disciplinesDisciplineImage">
      <img src="/assets/images/tour-showcase.png" alt="" width="" height="">
    </div>
  </a>

  <div class="disciplinesDiscipline" id="strategy">
    <div class="disciplinesDisciplineContent">
      <h2>Digital Strategy</h2>
      <p>Comprehensive product review, research and a clear product strategy for your site or app.</p>
      <!-- <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div> -->
    </div>
    <div class="disciplinesDisciplineImage">
      {% include_relative /assets/images/icon-plan.svg %}
    </div>
  </div>

  <div class="disciplinesDiscipline" id="eCommerce">
    <div class="disciplinesDisciplineContent">
      <h2>eCommerce and Conversion Rate Optimisation</h2>
      <p>My record is increasing conversion by tens of millions of Euros per year at Booking.com.</p>
      <!-- <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div> -->
    </div>
    <div class="disciplinesDisciplineImage">
      {% include_relative /assets/images/icon-chart.svg %}
    </div>
  </div>

  <div class="disciplinesDiscipline" id="designSprint">
    <div class="disciplinesDisciplineContent">
      <h2>Design Sprint Facilitation</h2>
      <p>I lead remote design workshops with professors at Harvard University, and teams around the world.</p>
      <!-- <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div> -->
    </div>
    <div class="disciplinesDisciplineImage">
      <img src="/assets/images/remote-design-sprints.jpg" alt="" width="1440" height="900">
    </div>
  </div>

  <a href="/portfolio/ga" class="disciplinesDiscipline" id="teaching">
    <div class="disciplinesDisciplineContent">
      <h2>Teaching & Mentorship</h2>
      <p>I helped launch 18 design careers at General Assembly.</p>
      <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div>
    </div>
    <div class="disciplinesDisciplineImage">
      <img src="/assets/images/ga-group-shot.jpg" alt="" width="1600" height="900">
    </div>
  </a>

  <div class="disciplinesDiscipline" id="development">
    <div class="disciplinesDisciplineContent">
      <h2>Web Development</h2>
      <p>I build responsive, performant, and <abbr title="Search Engine Optimisation">SEO</abbr> optimised sites and web apps.</p>
      <!-- <div class="disciplinesDisciplineButton button -arrow">Read more{% include_relative /assets/images/icon-chevron-right.svg %}</div> -->
    </div>
    <div class="disciplinesDisciplineImage">
      <img src="/assets/images/development.png" alt="" width="2524" height="1696">
    </div>
  </div>
</div>

{% include prompt.html %}
