---
layout: default
title: "Portfolio of Damir Kotorić"
description: "Multidisciplinary Digital Designer. 10+ years global experience — from startups to Fortune 500."
activeNav: 2
---

<div class="hero" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <h1>Portfolio</h1>
      <p>I design for any tech platform and any industry.</p>
      <p>Web, mobile, AR and VR design. Leading design sprint facilitation with Harvard professors, and converstion optimisation on Fortune 500 eCommerce sites.</p>
    </div>
  </div>
</div>

<div class="portfolio">
  <div>
    <div class="portfolioCards">
      <div class="portfolioCardsCard">
        {% include portfolioCards/booking.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/bookingPayments.html %}
      </div>
      <blockquote class="portfolioQuote quote -large">
        <div class="quoteIcon">
          {% include iconQuote.svg %}
        </div>
        <div class="quoteText">Damir has excellent design acumen (in and outside of code), an uncompromising dedication to ethics, and a drive to elevate products to their greatest potential.</div>
        <div class="quoteAuthor">
          <a class="quoteAuthorImage" href="https://www.linkedin.com/in/christopher-sledge-18158b54/" target="_blank" rel="noopener">
            <img src="/assets/images/chris_sledge.jpg" alt="" width="500" height="500">
          </a>
          <div class="quoteAuthorContent">
            <a href="https://www.linkedin.com/in/christopher-sledge-18158b54/" target="_blank" rel="noopener">Christopher Sledge</a>
            <span>UX Designer at Booking.com</span>
          </div>
        </div>
      </blockquote>
      <div class="portfolioCardsCard">
        {% include portfolioCards/ga.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/publicArt.html %}
      </div>
      <blockquote class="portfolioQuote quote -large">
        <div class="quoteIcon">
          {% include iconQuote.svg %}
        </div>
        <div class="quoteText">Damir is highly empathetic and measured which made him an excellent mentor and guide to others in their UX journey.</div>
        <div class="quoteAuthor">
          <a class="quoteAuthorImage" href="https://www.linkedin.com/in/matthewmccraejohnson" target="_blank" rel="noopener">
            <img src="/assets/images/matt.jpg" alt="" width="500" height="500">
          </a>
          <div class="quoteAuthorContent">
            <a href="https://www.linkedin.com/in/matthewmccraejohnson" target="_blank" rel="noopener">Matthew McCrae Johnson</a>
            <span>Program Producer at General Assembly</span>
          </div>
        </div>
      </blockquote>
      <div class="portfolioCardsCard">
        {% include portfolioCards/ideaverse.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/giza.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/envato.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/forgetMeNot.html %}
      </div>
      <blockquote class="portfolioQuote quote -large">
        <div class="quoteIcon">
          {% include iconQuote.svg %}
        </div>
        <div class="quoteText">Damir is a one-of-a-kind excellent designer with a real sense for product: An unbeatable match, making it very satisfying to have been able to work together.</div>
        <div class="quoteAuthor">
          <a class="quoteAuthorImage" href="https://www.linkedin.com/in/roelofpieters/" target="_blank" rel="noopener">
            <img src="/assets/images/roelof.jpg" alt="" width="500" height="500">
          </a>
          <div class="quoteAuthorContent">
            <a href="https://www.linkedin.com/in/roelofpieters/" target="_blank" rel="noopener">Roelof Pieters</a>
            <span>CEO at creative.ai</span>
          </div>
        </div>
      </blockquote>
      <div class="portfolioCardsCard">
        {% include portfolioCards/oracy.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/iarps.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/orpheus.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/orpheusDesignSystem.html %}
      </div>
      <blockquote class="portfolioQuote quote -large">
        <div class="quoteIcon">
          {% include iconQuote.svg %}
        </div>
        <div class="quoteText">Damir is one of the best designers I have worked with in my 10+ year career as a web developer. He inherently understands the technicality of front end development, empathizes with the user, and cuts straight through to value for client and user. He is multi-talented and I would recommend him for product, design, or front-end development roles.</div>
        <div class="quoteAuthor">
          <a class="quoteAuthorImage" href="https://www.linkedin.com/in/daniel-rekshan/" target="_blank" rel="noopener">
            <img src="/assets/images/daniel.jpg" alt="" width="500" height="500">
          </a>
          <div class="quoteAuthorContent">
            <a href="https://www.linkedin.com/in/daniel-rekshan/" target="_blank" rel="noopener">Daniel Rekshan</a>
            <span>Fine artist and web developer at Archimedes Digital</span>
          </div>
        </div>
      </blockquote>
      <div class="portfolioCardsCard">
        {% include portfolioCards/designGenerator.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/unstock.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/tripureshwor.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/gizaVirtual.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/archimedesDigital.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/zjumaa.html %}
      </div>
    </div>
  </div>
</div>

{% include prompt.html %}
