---
layout: default
title: "Portfolio of Damir Kotorić"
description: "10+ years global experience — from startups, to government and Fortune 500 across web, mobile, AR and VR."
activeNav: 2
---

<div class="hero" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <h1>Portfolio</h1>
      <p>I design for web, mobile, AR and VR. My work includes digital innovation for Harvard University, conversion rate optimisation for Booking.com, and big data projects for Australian state governments.</p>
    </div>
  </div>
</div>

<div class="portfolio">
  <div>
    <div class="portfolioCards">
      <div class="portfolioCardsCard">
        {% include portfolioCards/cdp.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/bookingPayments.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/bookingCRO.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/envato.html %}
      </div>
      <!-- <div class="portfolioCardsCard">
        {% include portfolioCards/gsq.html %}
      </div> -->
      <div class="portfolioQuote">
        {% include quotes/chrisSledge.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/ga.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/new-alexandria.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/public-art-ar.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/giza-ar.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/storyverse.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/event-management-app.html %}
      </div>
      <div class="portfolioQuote">
        {% include quotes/matt.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/ideaverse.html %}
      </div>
      <!-- <div class="portfolioCardsCard">
        {% include portfolioCards/twipsum.html %}
      </div> -->
      <div class="portfolioCardsCard">
        {% include portfolioCards/forgetMeNot.html %}
      </div>
      <div class="portfolioQuote">
        {% include quotes/roelof.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/oracy.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/parthenon-ar.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/orpheus.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/blenheim.html %}
      </div>
      <div class="portfolioQuote">
        {% include quotes/daniel.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/designGenerator.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/zjumaa.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/tripureshwor.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/gizaVirtual.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/archimedesDigital.html %}
      </div>
      <div class="portfolioCardsCard">
        {% include portfolioCards/unstock.html %}
      </div>
    </div>
  </div>
</div>

{% include prompt.html %}
