---
layout: default
title: "Digital Services in Digital Strategy, Digital Product Design, Conversion Rate Optimisation & More"
description: "Using my multisdisciplinary skillset, I bring new digital projects to life, and elevate existing sites and apps to their full potential."
activeNav: 3
---

<div class="hero" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <h1>Services</h1>
      <p>Using my multisdisciplinary skillset, I bring new digital projects to life, and elevate existing sites and apps to their full potential.</p>
    </div>
  </div>
</div>

<div class="services">
  <a href="/services/strategy" class="servicesService" id="strategy">
    <div class="servicesServiceContent">
      <h2>Digital Strategy</h2>
      <p>Comprehensive product review, research and a clear product and marketing strategy for your site or app.</p>
      <div class="servicesServiceButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
    </div>
    <div class="servicesServiceImage">
      {% include_relative /assets/images/icon-plan.svg %}
    </div>
  </a>
  
  <a href="/services/design" class="servicesService" id="design">
    <div class="servicesServiceContent">
      <h2>Digital Product Design & Prototyping</h2>
      <p>Engaging experiences for web, mobile, AR and VR.</p>
      <div class="servicesServiceButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
    </div>
    <div class="servicesServiceImage">
      <img src="/assets/images/tour-showcase.png" alt="" width="" height="">
    </div>
  </a>

  <div class="servicesService" id="eCommerce">
    <div class="servicesServiceContent">
      <h2>eCommerce and Conversion Rate Optimisation</h2>
      <p>My record is increasing conversion by tens of millions of Euros per year at Booking.com.</p>
      <!-- <div class="servicesServiceButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div> -->
    </div>
    <div class="servicesServiceImage">
      {% include_relative /assets/images/icon-chart.svg %}
    </div>
  </div>

  <a href="/services/design-sprint-facilitation" class="servicesService" id="designSprint">
    <div class="servicesServiceContent">
      <h2>Design Sprint Facilitation</h2>
      <p>I lead remote design workshops with professors at Harvard University, and teams around the world.</p>
      <div class="servicesServiceButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
    </div>
    <div class="servicesServiceImage">
      <img src="/assets/images/remote-design-sprints.jpg" alt="" width="1440" height="900">
    </div>
  </a>

  <a href="/portfolio/ga" class="servicesService" id="teaching">
    <div class="servicesServiceContent">
      <h2>Teaching & Mentorship</h2>
      <p>I helped launch 18 design careers at General Assembly.</p>
      <div class="servicesServiceButton button -arrow">Read more on my portfolio{% include /svg/icon-chevron-right.svg %}</div>
    </div>
    <div class="servicesServiceImage">
      <img src="/assets/images/ga-group-shot.jpg" alt="" width="1600" height="900">
    </div>
  </a>

  <a class="servicesService" id="development" href="/services/web-development">
    <div class="servicesServiceContent">
      <h2>Web Development</h2>
      <p>I build responsive, accessible, performant, and <abbr title="Search Engine Optimisation">SEO</abbr> optimised sites and web apps.</p>
      <div class="servicesServiceButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
    </div>
    <div class="servicesServiceImage">
      <img src="/assets/images/development.png" alt="" width="2524" height="1696">
    </div>
  </a>
</div>

{% include organisations.html %}

{% include prompt.html %}
