---
layout: default
title: "Projects in Web, Mobile, AR and VR."
description: "A visual walkthrough of my work — ranging from concept creation, prototyping, and development."
activeNav: 2
---

<div class="hero" id="heroWork">
  <div class="heroContent">
    <h1>Projects in Web, Mobile, AR and VR.</h1>
    <p>A visual walkthrough of my work — ranging from concept creation, prototyping, and development.</p>
  </div>
  <div class="heroImage">
    <img src="/assets/images/portfolio_cover.jpg" alt="" width="3200" height="2500">
  </div>
</div>

<div class="portfolio">
  <div class="portfolioItem" id="Oracy">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Oracy</h2>
      <p class="portfolioItemContentSubheading">Public domain audiobooks, completely free and without ads. <a href="https://twitter.com/damirkotoric/status/1196652956688338945" target="_blank" rel="noopener">Read the behind the scenes.</a></p>
      <a class="portfolioItemContentButton button" href="https://oracy.app/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/oracy.jpg" alt="" width="2000" height="1109">
    </div>
  </div>
  <div class="portfolioItem" id="IARPS">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Parthenon AR Experience</h2>
      <p class="portfolioItemContentSubheading">Exploring an AR app for one of Western Civilization’s greatest treasures — the Parthenon of Athens’ Acropolis.</p>
      <a class="portfolioItemContentButton button" href="https://twitter.com/archimedigital/status/1144204680257527808" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/iarps_ar.jpg" alt="" width="2500" height="1406">
    </div>
  </div>
  <div class="portfolioItem" id="Booking">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Payments Design Strategy for the Fortune 500</h2>
      <p class="portfolioItemContentSubheading">Creating “one payment experience to rule them all” for all of the company's products.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/booking_pay_component_vision.png" alt="" width="2840" height="1398">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Giza">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Giza AR</h2>
      <p class="portfolioItemContentSubheading">A concept explored during a hackathon in Cairo, Egypt. “Rediscovering” Ancient Egyptian tombs in AR.</p>
      <a class="portfolioItemContentButton button -dark" href="https://blog.archimedes.digital/visualizing-the-pyramids-uncover-the-hidden-stories-of-egypt-in-augmented-reality-with-harvards-d03a3eb8fd63" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/giza.jpg" alt="" width="2000" height="1500">
    </div>
  </div>
  <div class="portfolioItem" id="BookingDev">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Design & Web Development</div>
      <h2 class="portfolioItemContentHeading">Optimising Performance on Booking.com</h2>
      <p class="portfolioItemContentSubheading">Optimised the speed of Booking.com, resulting in a yearly revenue increase of EUR €18 million on performance improvements alone.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/booking_com.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem" id="Orpheus">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Design & Web Development</div>
      <h2 class="portfolioItemContentHeading">Orpheus</h2>
      <p class="portfolioItemContentSubheading">Ground up creation of a new digital archiving tool aiming to take the academic world by storm.</p>
      <a class="portfolioItemContentButton button" href="https://orphe.us/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/orpheus.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem" id="OrpheusDesignSystem">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Design & Web Development</div>
      <h2 class="portfolioItemContentHeading">Orpheus Design System</h2>
      <p class="portfolioItemContentSubheading">A flexible design system built on top of <a href="https://storybook.js.org/" target="_blank" rel="noopener">Storybook.js</a>; and used for web and on native mobile apps running on <a href="https://facebook.github.io/react-native/" target="_blank" rel="noopener">React Native</a>.</p>
      <a class="portfolioItemContentButton button" href="http://storybook.orphe.us/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/storybook.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem" id="AIMoodboardGenerator">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">AI Moodboard Generator</h2>
      <p class="portfolioItemContentSubheading">What if you could explore a creative direction by bouncing ideas off with a bot? At creative.ai we explored just that.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/ai_moodboard_generator.jpg" alt="" width="2880" height="1600">
    </div>
  </div>
  <div class="portfolioItem" id="AIDesignGenerator">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">AI Design Generator</h2>
      <p class="portfolioItemContentSubheading">An exploration with creative.ai, looking at the future of design where the AI designs, and you pass instructions.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/ai_design_generator.jpg" alt="" width="2880" height="1600">
    </div>
  </div>
  <div class="portfolioItem" id="Envato">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Unstock by Envato</h2>
      <p class="portfolioItemContentSubheading">A beautiful stock photo marketplace created in a design sprint. <span class="highlight">Converted 40x better</span> than the old product.</p>
      <a class="portfolioItemContentButton button" href="https://forums.envato.com/t/unlaunching-unstock/74125" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/unstock.jpg" alt="" width="2880" height="1600">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="EnvatoLayers">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Facilitation</div>
      <h2 class="portfolioItemContentHeading">Envato Layers</h2>
      <p class="portfolioItemContentSubheading">Design sprint creating a spin-off product for Envato over a two-week period, in collaboration with a team in South Africa.</p>
      <a class="portfolioItemContentButton button -dark" href="https://go.themeforest.net/layerswp/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/envato_layers.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem -withBG" id="Storyverse">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Storyverse</h2>
      <p class="portfolioItemContentSubheading">A love child of blogging and geocaching, allowing you to explore virtual stories in the real world.</p>
      <a class="portfolioItemContentButton button" href="https://medium.com/idea-lab/storyverse-a-universe-of-nearby-stories-awaits-8c1b04660097" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/storyverse.png" alt="" width="2000" height="2000">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Minihero">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Minihero</h2>
      <p class="portfolioItemContentSubheading">An open-source site connecting nearby volunteers around the globe.</p>
      <a class="portfolioItemContentButton button -dark" href="https://medium.com/@damirkotoric/minihero-an-open-source-site-connecting-nearby-volunteers-all-around-the-globe-ed06228b6e3f" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
  </div>
  <div class="portfolioItem" id="Wikiflix">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Wikiflix</h2>
      <p class="portfolioItemContentSubheading">What if you could turn any web page into a visual documentary?</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/wikiflix.jpg" alt="" width="2880" height="1596">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Twipsum">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Twipsum</h2>
      <p class="portfolioItemContentSubheading">A Twitter-to-Lorem-Ipsum generator. Just for the lolz. <a href="https://medium.com/hackernoon/how-i-built-twipsum-in-two-weeks-9cdbcf996443" target="_blank" rel="noopener">Read the behind the scenes.</a></p>
      <a class="portfolioItemContentButton button -dark" href="https://twipsum.herokuapp.com/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/twipsum.jpg" alt="" width="2000" height="1109">
    </div>
  </div>
  <div class="portfolioItem" id="Botcraft">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Botcraft</h2>
      <p class="portfolioItemContentSubheading">Photos crafted into styles of iconic paintings with the power of machine learning.</p>
      <a class="portfolioItemContentButton button" href="https://botcraft.netlify.com/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/botcraft.jpg" alt="" width="999" height="562">
    </div>
  </div>
  <div class="portfolioItem" id="Falconfilms">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Falcon Films</h2>
      <p class="portfolioItemContentSubheading">Testing a startup idea for a drone footage site aimed at the Australian market.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/falconfilms.png" alt="">
    </div>
  </div>
  <div class="portfolioItem" id="PublicArt">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">North End Public Art</h2>
      <p class="portfolioItemContentSubheading">AR app for Boston's historic neighbourhood, sharing and celebrating the stories of its immigrants.</p>
      <a class="portfolioItemContentButton button" href="https://www.figma.com/proto/jTXNZFPvb0cW7u9oKrWR2l/Public-Art?node-id=131%3A606&viewport=3762%2C-5520%2C0.48435714840888977&scaling=contain" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/public_art.jpg" alt="">
    </div>
  </div>
  <div class="portfolioItem" id="Tripureshwor">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Tripureshwor Virtual Tour</h2>
      <p class="portfolioItemContentSubheading">Making accessible to the world one of Nepal’s cultural treasures.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/tripureshwor.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="HUL">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Harvard University Libraries</h2>
      <p class="portfolioItemContentSubheading">A virtually tour of Harvard’s private libraries, including the esteemed Widener Library.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/hul_ui.png" alt="" width="840" height="620">
    </div>
  </div>
  <div class="portfolioItem" id="Peabody">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Peabody Essex Museum</h2>
      <p class="portfolioItemContentSubheading">Creating an even more engaging visitor experience to one of the United States’ top 20 art museums.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/peabody_essex_ar.jpg" alt="" width="4000" height="3000">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Zhejiang">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Zhejiang University Museum of Art and Archaeology</h2>
      <p class="portfolioItemContentSubheading">Exploring a fascinating AR app enhancing the visitor experience for one of China’s great new museums.</p>
      <a class="portfolioItemContentButton button -dark" href="https://twitter.com/archimedigital/status/1173669509275799558" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
  </div>
  <div class="portfolioItem" id="Archimedes">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Development</div>
      <h2 class="portfolioItemContentHeading">Archimedes Digital Website</h2>
      <p class="portfolioItemContentSubheading">A showcase of the innovative work of an agency working on the crossroads of the humanities and technology.</p>
      <a class="portfolioItemContentButton button" href="http://archimedes.digital" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/archimedes_digital.jpg" alt="" width="2880" height="1800">
    </div>
  </div>
  <div class="portfolioItem" id="HYAP">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Prototype</div>
      <h2 class="portfolioItemContentHeading">Harvard Yard Archaeological Project</h2>
      <p class="portfolioItemContentSubheading">An AR app uncovering the archaeological artefacts being excavated by Harvard’s archaeological students.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/hyap_flow.jpg" alt="" width="4000" height="1960">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Blenheim">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Blenheim</h2>
      <p class="portfolioItemContentSubheading">Uncovering hidden messages inscribed into the walls of this heritage house dating back to the American Civil War.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/blenheim.png" alt="" width="938" height="1550">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Sardis">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Sardis</h2>
      <p class="portfolioItemContentSubheading">An AR app for the Sardis archaeological site in Turkey. Reconstructing one of the 7 Wonders of The Ancient World.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/sardis_ui.jpg" alt="" width="640" height="1136">
    </div>
  </div>
  <div class="portfolioItem" id="GizaVR">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Giza Virtual Tours</h2>
      <p class="portfolioItemContentSubheading">Exploring the Giza plateau in VR, web, mobile and smart watch.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/tours_vr_crossplatform.png" alt="" width="2760" height="1247">
    </div>
  </div>
  <div class="portfolioItem" id="NewAlexandria">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Development</div>
      <h2 class="portfolioItemContentHeading">NewAlexandria</h2>
      <p class="portfolioItemContentSubheading">A beautiful digital platform for publishing and reading of academic commentaries.</p>
      <a class="portfolioItemContentButton button" href="https://twitter.com/archimedigital/status/1138774709611433984" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/new_alexandria.jpg" alt="" width="2880" height="1620">
    </div>
  </div>
  <div class="portfolioItem" id="ARCE">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Digital Archive for the American Research Center in Egypt</h2>
      <p class="portfolioItemContentSubheading">A beautiful digital platform for publishing and reading of academic commentaries.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/red_monastery.jpg" alt="" width="2880" height="2200">
    </div>
  </div>
  <div class="portfolioItem" id="Sinai">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Digital Preservation of The Mount Sinai Monastery</h2>
      <p class="portfolioItemContentSubheading">Providing the foundation on which to preserve the treasures to one of the oldest Greek Orthodox monasteries in the world.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/sinai.jpg" alt="" width="2880" height="2000">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Steleforest">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Xi’an Beilin Museum AR Tours</h2>
      <p class="portfolioItemContentSubheading">Offering museum visitors a handy guide, explaining the details of the millennia-old stele collection.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/steleforest_ui.jpg" alt="" width="596" height="1056">
    </div>
  </div>
  <div class="portfolioItem -dark -withBG" id="Rosicrucian">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Rosicrucian Egyptian Museum</h2>
      <p class="portfolioItemContentSubheading">Enriching the visitor experience with an AR museum tour, explaining the details of the Dreme Stele on display.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/rosicrucian_ui.jpg" alt="" width="800" height="1300">
    </div>
  </div>
  <div class="portfolioItem" id="Ideaverse">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept</div>
      <h2 class="portfolioItemContentHeading">Ideaverse</h2>
      <p class="portfolioItemContentSubheading">Moodboarding powered by machine learning.</p>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/ideaverse.jpg" alt="" width="2880" height="1600">
    </div>
  </div>
  <div class="portfolioItem" id="EnvatoAPI">
    <div class="portfolioItemContent">
      <div class="portfolioItemContentOverline">Concept & Development</div>
      <h2 class="portfolioItemContentHeading">Envato API</h2>
      <p class="portfolioItemContentSubheading">A brand new developer experience for the Envato community.</p>
      <a class="portfolioItemContentButton button" href="https://build.envato.com/" target="_blank" rel="noopener">Explore {% include_relative /assets/images/icon_chevron_right.svg %}</a>
    </div>
    <div class="portfolioItemImage">
      <img src="/assets/images/envato_api.jpg" alt="" width="2880" height="1596">
    </div>
  </div>
</div>

<div class="chapter" style="margin-bottom: 100px;">
  <div>
    <h2>That's (almost) all, folks!</h2>
    <p>This spans the highlights of my recent work. Not shown here is my work involving web development, automation, and workshop facilitation.</p>
    <a class="button" href="/offering">View my full offering {% include_relative /assets/images/icon_chevron_right.svg %}</a>
  </div>
</div>
