---
layout: default
title: "Work of Damir Kotorić"
description: "Websites, mobile apps, eCommerce, AR, open data, finance and Web3 projects for dozens of startups, corporations like Booking.com, universities like Harvard University and Australian state governments."
activeNav: 2
---

<div class="hero" id="herowork">
  <div>
    <div class="heroContent">
      <h1>Damir's Work</h1>
      <p>Websites, mobile apps, eCommerce, AR, open data, finance and Web3 projects for dozens of startups, corporations like Booking.com, universities like Harvard University and Australian state governments.</p>
    </div>
  </div>
</div>

<div class="work">
  <div>
    <div class="projectCards">
      <div class="projectCardsCard">
        {% include projectCards/cdp.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/bookingPayments.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/bookingCRO.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/envato.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/gsq.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/ga.html %}
      </div>
      <div class="workQuote">
        {% include quotes/chrisSledge.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/public-art-ar.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/giza-ar.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/ideaverse.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/chatbot-app.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/storyverse.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/event-management-app.html %}
      </div>
      <div class="workQuote">
        {% include quotes/matt.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/new-alexandria.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/cosmitto.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/designGenerator.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/zjumaa.html %}
      </div>
      <div class="workQuote">
        {% include quotes/roelof.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/oracy.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/parthenon-ar.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/orpheus.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/blenheim.html %}
      </div>
      <div class="workQuote">
        {% include quotes/daniel.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/tripureshwor.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/gizaVirtual.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/archimedesDigital.html %}
      </div>
      <div class="projectCardsCard">
        {% include projectCards/unstock.html %}
      </div>
    </div>
  </div>
</div>

{% include prompt.html %}
