<a class="card" href="/work/cdp">
  <div class="cardMedia">
    <img src="/assets/images/cdp-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>NSW Climate Data Portal</h3>
  <ul class="cardTags">
    <li>Big data</li>
    <li>Government</li>
    <li>Design systems</li>
    <li>Remote user testing</li>
  </ul>
  <p>Designing an open data portal for the New South Wales Government. Petabytes of climate data made available to Australian businesses and the general public.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
