<a class="card" href="/work/chatbot-app">
  <div class="cardMedia">
    <img src="/assets/images/chatbot-app.jpg" alt="" width="1600" height="900"></img>
  </div>
  <h3>Chatbot Learning App for iOS</h3>
  <ul class="cardTags">
    <li>Conversational UI</li>
    <li>Startup</li>
    <li>Design sprint</li>
    <li>L&D</li>
  </ul>
  <p>Setting the design foundation for a conversational UI experience.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
