<a class="card" href="/work/cosmitto">
  <div class="cardMedia">
    <img src="/assets/images/cosmitto-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Cosmitto</h3>
  <ul class="cardTags">
    <li>Comparison Site</li>
    <li>Search Design</li>
    <li>Responsive Web Design</li>
  </ul>
  <p>Leading a complete ground-up design for a corporate training comparison site for Australia and New Zealand.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
