<div class="card">
  <div class="cardMedia">
    <video src="https://storage.googleapis.com/damirkotoric/layers-project-design-sprint.mp4" width="960" height="540" controls poster="/assets/images/envato-design-sprint-cover.jpg" controls></video>
  </div>
  <h3>Design Sprint at Envato</h3>
  <ul class="cardTags">
    <li>Design sprint</li>
    <li>eCommerce</li>
  </ul>
  <p>Innovating at a company closing in on <a href="http://press.envato.com/172514-envato-closes-in-on-1-billion-usd-in-community-earnings" target="_blank" rel="noopener">USD $1 billion in community revenue</a>, in Melbourne, Australia.</p>
</div>
