<a class="card" href="https://themeforest.net/" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/envato-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Envato Market</h3>
  <ul class="cardTags">
    <li>Design</li>
    <li>Front-end development</li>
    <li>HTML, CSS, JS</li>
    <li>Rails</li>
  </ul>
  <p>One of Australia's top startups. Around since 2009, and close to generating USD $1 billion in community earnings.</p>
  <div class="cardButton button -arrow">Visit site{% include /svg/icon-link.svg %}</div>
</a>
