<a class="card" href="/work/oracy">
  <div class="cardMedia">
    <img src="/assets/images/oracy-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Oracy</h3>
  <ul class="cardTags">
    <li>Personal project</li>
    <li>Design</li>
    <li>Full stack development</li>
    <li>Audio</li>
  </ul>
  <p>Free public domain audiobooks available for listening in a streamlined, simple UI. Oracy is a side project I designed and developed.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
