<a class="card" href="/work/orpheus">
  <div class="cardMedia">
    <img src="/assets/images/orpheus-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Orpheus</h3>
  <ul class="cardTags">
    <li>Product strategy</li>
    <li>Conceptual design</li>
    <li>Digital humanities</li>
    <li>Prototyping</li>
    <li>Design system</li>
    <li>Front end development</li>
  </ul>
  <p>Leading product strategy and design on a new digital archiving tool for a humanities startup in Cambridge, USA.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
