<a class="card" href="/work/public-art-ar">
  <div class="cardMedia">
    <img src="/assets/images/public-art-ar-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Boston North End Public Art</h3>
  <ul class="cardTags">
    <li>AR</li>
    <li>Mobile</li>
    <li>Digital humanities</li>
    <li>Prototyping</li>
  </ul>
  <p>Turning an iconic Boston neighbourhood into an open-air museum, powered by AR.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
