---
layout: default
title: "Damir Kotorić | UX Architect & UI Designer"
description: "Freelance UX Architect, UI Designer and Toptal Design Blog freelance writer, working on cutting-edge projects for startups, governments and Fortune 500 giants worldwide."
activeNav: 1
---

<div class="hero" id="heroIndex">
  <div>
    <div class="heroContent">
      <h1>Damir Kotorić</h1>   
      <p>UX Architect & UI Designer leading cutting-edge projects for startups, governments and Fortune 500 giants worldwide.</p>
      <a class="heroContentButton button" href="https://www.linkedin.com/in/damirkotoric/" target="_blank" rel="noopener">Become a Client</a>
    </div>
    <div class="heroBackground">
      <video src="https://storage.googleapis.com/damirkotoric/heroreel-blur-360p.mp4" poster="" muted autoplay loop></video>
    </div>
  </div>
</div>

<div class="intro">
  <div>
    <h2 class="introTitle">Meet Damir</h2>
    <div class="introContent">
      <div class="introContentVideo">
        <video src="https://storage.googleapis.com/damirkotoric/damir-showreel.mp4" poster="" controls></video>
      </div>
      <div class="introContentText">
        <p><strong>One-person design agency with over 14 years of multi-industry, global experience.</strong></p>
        <p>I'm a go-to designer for teams that seek competence, craftsmanship, and design leadership. I'm the kind of person who comes aboard your project, rolls up his sleeves, takes ownership of your entire design process, creates a winning UX strategy, scales up your team's design maturity and ultimately delivers a winning product.</p>
        <p><a href="">What makes me different?</a></p>
        <!-- <p>That's what I do in a nutshell. Now, the actual work ranges from audits, training and mentorship, UX strategy, design system creation, user research, testing, UI design and prototyping, hiring — the list goes on. Every project is different, every client unique. My clients don't just partner with me to create design mockups. They ask me to lead design efforts, to overhaul their processes, to remove every design obstacle that comes our way, to advise and create a winning strategy, and to be there every step of the way with relentless attention to detail in the execution of our strategy.</p>
        <p>Similarly, I seek partnerships with clients that value quality, that have a sound strategy, and are backed with solid funding in order to create a winning product.</p> -->
      </div>
    </div>
  </div>
</div>

<div class="showcase">
  <div>
    <h2 class="showcaseTitle">Design Work</h2>
    <div class="showcaseCards">
      <div class="showcaseCardsCard">
        {% include projectCards/cdp.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include projectCards/bookingPayments.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include projectCards/ga.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include projectCards/giza-ar.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include projectCards/ideaverse.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include projectCards/envato.html %}
      </div>
    </div>
    <div class="showcaseMore">
      <a class="button -small" href="/work">More of Damir's work</a>
    </div>
  </div>
</div>

<div class="quoteSection">
  <div>
    {% include quotes/chrisThelwell.html %}
  </div>
</div>

{% include organisations.html %}

{% include prompt.html %}
