---
layout: default
title: "Damir Kotorić"
description: "Multidisciplinary designer bringing digital projects to life — for fledgling startups, to government and Fortune 500 giants worldwide."
activeNav: 1
---

<div class="hero" id="heroIndex">
  <div>
    <div class="heroContent">
      <h1>Damir <br>Kotorić</h1>
      <p>Multidisciplinary designer bringing digital projects to life — for fledgling startups, to government and Fortune 500 giants worldwide.</p>
      <a class="heroContentButton" href="https://www.linkedin.com/in/damirkotoric/" target="_blank"  rel="noopener">Connect on LinkedIn</a>
    </div>
    <div class="heroImage">
      <img src="assets/images/damir-portrait.jpg" alt="">
    </div>
  </div>
</div>

<div class="showcase">
  <div>
    <h2 class="showcaseTitle">Portfolio Highlights</h2>
    <div class="showcaseCards">
      <div class="showcaseCardsCard">
        {% include portfolioCards/cdp.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include portfolioCards/bookingPayments.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include portfolioCards/ga.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include portfolioCards/giza-ar.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include portfolioCards/ideaverse.html %}
      </div>
      <div class="showcaseCardsCard">
        {% include portfolioCards/envato.html %}
      </div>
    </div>
    <div class="showcaseMore">
      <a class="button -arrow" href="/portfolio">See entire portfolio{% include /svg/icon-chevron-right.svg %}</a>
    </div>
  </div>
</div>

<div class="quoteSection">
  <div>
    {% include quotes/chrisThelwell.html %}
  </div>
</div>

{% include organisations.html %}

{% include prompt.html %}

<footer>
  <div>
    <div>
      <span>I acknowledge the Traditional Custodians of the land, the <a href="https://en.wikipedia.org/wiki/Wathaurong" target="_blank" rel="noopener">Wadawurrung People</a> of the <a href="https://en.wikipedia.org/wiki/Kulin_nation" target="_blank" rel="noopener">Kulin Nation</a>.</span>
      <span>I pay my respects to their Elders past and present, Elders in my community and emerging leaders.</span>
    </div>
  </div>
</footer>
