---
layout: default
title: "AI Design Generator | Portfolio of Damir Kotorić"
description: "Envisioning a new kind of creative tool which produces creative work using human instructions and machine learning algorithms — an 'AI designer'."
imageSrc: "/assets/images/ai-design-generator-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>AI Design Generator</h1>
      <p>Envisioning a new kind of creative tool which produces creative work using human instructions and machine learning algorithms — an "AI designer".</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/ai-design-generator-home.jpg" alt="" width="1600" height="900">
    <figcaption></figcaption>
  </figure>
  <p>A lot of my work involves the creation of eCommerce sites, and apps that have a fairly modest, mainstream purposes, that meet the market needs of today. Well, this project was the polar opposite of a typical project.</p>
  <figure class="">
    <img src="/assets/images/ai-design-generator-bvg-stream.jpg" alt="" width="1600" height="1610" data-no-zoom>
    <figcaption>A series of machine learning generated images.</figcaption>
  </figure>
  <h2>Like magic</h2>
  <p>The app would take user input in the form of search keywords. And then magic would start happening. Using machine learning algorithms, the app would start outputting images, music, videos, posters and entire websites on-the-fly, live. Digital magic, basically.</p>
  <figure class="">
    <img src="/assets/images/ai-design-generator-bvg-artefact.jpg" alt="" width="1600" height="2400" data-no-zoom>
    <figcaption>The user could open each generated image, or "artefact", and tweak it to better match what they have in mind. Is the image too humourous? Take it down a notch on the Humour slider. Is it not energetic enough? Bump up the Energy slider. The machine learning algorithms would then do their magic, and you'd immediately receive a new image, one that better matches your creative direction.</figcaption>
  </figure>
  <h2>Reimagining digital creation</h2>
  <p>This project is a futuristic vision. A moonshot attempt at creating something very, very ambitious — the first product in a completely new era of digital products. One that would change the face of the creative industry throughout the entire world. The biggest thing since Photoshop!</p>
  <p>The product was ambitious, and in hindsight, over-ambitious given the resources that we had. It was fascinating to explore uncharted lands in the area of human computer interaction, and as a designer I found this to be a great learning experience.</p>
  <figure class="-contain">
    <img src="/assets/images/ai-design-generator-edit.jpg" alt="" width="1440" height="2523" data-no-zoom>
    <figcaption>The design generator can be further customised. You can specify content, provide inspiration samples, tweak the settings, to then generate designs much closer to your desired creative direction.</figcaption>
  </figure>
  <h2>Style transfer</h2>
  <p>Possibly the greatest machine learning superpower that will transform the creative industry is the ability to take a creative asset, and apply a completely different style onto it. Say you want a poster. And in that poster you want a picture of a tiger that matches a Japanese Zen theme. With style transfer, you can take any regular photo of a tiger, and have the machine learning algorithm "Zenify" it for you.</p>
  <figure>
    <img src="/assets/images/ai-design-generator-artefact.jpg" alt="" width="1600" height="3030" data-no-zoom>
    <figcaption>Style transfer — the magic machine learning superpower that allows for incredible mashups.</figcaption>
  </figure>
  <p>All these style transfers would be live generated, by the software, in seconds. You could request a picture of "a baby but with superhero wings flying over a metropolitan skyline", or "take my photo and mix it with Elvis Presley, and have me riding a camel into a desert sunset". The possibilities are limited by your imagination.</p>
  <p>This would be a big deal for marketing and advertising agencies who could explore artistic ideas in record time. In fact, people could bounce these ideas around, and have the software generate ideas live as people speak.</p>
  <h2>Endless stream of ideas</h2>
  <p>The difference between a machine and a human is that the machine will never get tired. We wanted to take unique advantage of that by offering a product that would endlessly generate idea after idea. The human picks the ideas they like, can pause and tweak what's being generated, but the default mode would be a "digital river of endlessly flowing ideas".</p>
  <figure>
    <img src="/assets/images/ai-design-generator-export.jpg" alt="" width="1440" height="3200" data-no-zoom>
    <figcaption>Style transfer — the magic machine learning superpower that allows for incredible mashups.</figcaption>
  </figure>
  <h2>"Hey Siri, design a poster..."</h2>
  <p>Our line of thought eventually lit up another idea bulb: we could offer this product as a live assistant by integrating this service with Alexa and Siri.</p>
  <p>Creative teams could put a HomePod, or Alexa device in the room, hook it up to our service, and then just have a conversation about their project ideas. The Alexa device would feed the audio to our service, which would interpret it, and when someone says "what if we advertised this product with a James Bond theme?" — boom — you have a mockup generated live on the screen. Person points at the screen "Yes! Exactly like that."</p>
  <figure class="-contain">
    <img src="/assets/images/ai-design-generator-meeting.jpg" alt="" width="1500" height="1000" data-no-zoom>
    <figcaption>A team of people collaborating with a "design AI".</figcaption>
  </figure>
  <p>Then someone else chips in, "I think this looks too juvenile for our target market. Can you make this about 50% more serious?" Person takes a sip of water — boom — new mockup is generated where the typography is changed from a rounded font to a more serif-looking font, and the colours become more subdued. "Yesss! Now we're talking".</p>
  <h2>Testing the idea</h2>
  <p>I built a clickable prototype to get some fresh eyes and fresh perspectives on our product. Even if we can build it, do creatives want it? I interviewed some of my former colleagues, who are also designers, to get a sense for the kind of impression the product would make.</p>
  <figure class="-contain">
    <video src="https://storage.googleapis.com/damirkotoric/user-testing.mp4" width="1920" height="1080" controls poster="/assets/images/user-testing-poster.jpg" autoplay muted loop playsinline></video>
    <figcaption>A small selection of insights gained from user testing the prototype on target users.</figcaption>
  </figure>
  <p>With the 20/20 perspective of hindsight, it's easy to conclude that we were overambitious. Not only was our product vision pushing beyond the possibilities of today's technology, but we didn't simplify the product enough. The value proposition was vague, and I to this day find it hard to describe the product. Even if we had built it, we would've needed to do a lot more work on our marketing and messaging.</p>
  <p>Maybe in a parallel universe a few key pieces clicked together, and our venture took off. <a href="https://www.reddit.com/r/deepstyle/" target="_blank" rel="noopener">Machine learning can do some things amazingly well</a>, but it is still far off the "creative AI" vision that we were hoping to build. Maybe in a few years, or a decade or two. Who knows.</p>
  <hr>
  {% include portfolioPageFooter.html %}
</div>
