---
layout: default
title: "Designing Payments at Booking.com | Portfolio of Damir Kotorić"
description: "Leading the effort for a redesigned payment experience on Booking.com — the world’s biggest accommodation site."
imageSrc: "/assets/images/booking-payments-cover.jpg"
imageWidth: 1600
imageHeight: 900
activeNav: 2
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <h1>Designing Payments at Booking.com</h1>
      <p>Leading the effort for a redesigned payment experience on Booking.com — the world’s biggest accommodation site.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/booking-payment-mobile-screens.jpg" alt="" width="3200" height="1600">
    <figcaption>An early prototype exploring a new vision for Booking.com's global payment system.</figcaption>
  </figure>
  <p>In 2018, <a href="https://en.wikipedia.org/wiki/Booking_Holdings" target="_blank" rel="noopener">Booking.com made just over USD $14 billion in revenue</a>, making it the world’s biggest accommodation booking site, and world’s 3rd biggest eCommerce site.</p>
  <p>At Booking, <strong>I lead the initial effort to redesign the payment system</strong> that processes tens of millions of euros worth of transactions per day, across 140 countries from around the world.</p>
  <figure class="-full">
    <img src="/assets/images/booking-pay-component-desktop.jpg" alt="" width="3926" height="2209">
    <figcaption>Exploring a new payment experience for the desktop web.</figcaption>
  </figure>
  <h2>Impact made</h2>
  <p>Due to the confidential nature of this work, I cannot disclose the exact monetary impact, but let’s say it was “very significant” — in the tens of millions of euros per year.</p>
  <h3>A versus B</h3>
  <p>All iterations to the Booking.com website are A/B tested before they go live. Booking’s systems for data-informed decision making made my jaw drop. The extent of data available is just astounding.</p>
  <h2>Facilitating a design workshop</h2>
  <p>First on the agenda was performing research to identify the current payment experience, keeping on the lookout for problem areas and opportunities for improving the user experience.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/booking-workshop-1.jpg" width="620" height="269" alt="" data-no-zoom>
        </div>
        <div class="galleryItem">
          <img src="/assets/images/booking-workshop-4.jpg" width="304" height="228" alt="" data-no-zoom>
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/booking-workshop-3.jpg" width="304" height="228" alt="" data-no-zoom>
        </div>
        <div class="galleryItem">
          <img src="/assets/images/booking-workshop-5.jpg" width="304" height="228" alt="" data-no-zoom>
        </div>
        <div class="galleryItem">
          <img src="/assets/images/booking-workshop-2.jpg" width="304" height="228" alt="" data-no-zoom>
        </div>
      </div>
    </div>
    <figcaption>On a hunt for opportunities to improve the payment experience. I helped my team get an overview of the entire payment process, highlighting opportunities and problem areas.</figcaption>
  </figure>
  <h2>The complexities of design for a global payment system</h2>
  <p>Companies like Booking can approach the payment experience in one of two ways:</p>
  <ol>
    <li><strong>The Amazon / Apple model</strong> of accepting only debit/credit card payment and one system of payment where you pay for everything at once. Nice and simple, but limited in flexibility for the customer. No card, no party.</li>
    <li><strong>The Booking model</strong> of accepting over a dozen different payment methods and half a dozen ways of structuring payments. You may choose to pay for everything with a card. But, you may also choose to pay in instalments using Paypal. Or, you may choose to pay some of your booking up front using a debit card and the rest at the hotel using cash.</li>
  </ol>
  <p>Booking’s approach is more inclusive, covers a wider percentage of global customers, and is more empathic to the user. <a href="https://daxueconsulting.com/payment-methods-in-china/" target="_blank" rel="noopener">WeChat Pay and Alipay, for example, are the most popular payment methods in China</a>. Booking caters to these customers allowing them to use their favourite payment method. That’s good customer service and good business. Win-win.</p>
  <figure class="-contain">
    <img src="/assets/images/booking-payment-vision-1.jpg" alt="" width="1400" height="777">
    <figcaption>A payment modal — an early prototype experiment.</figcaption>
  </figure>
  <p><strong>But this model creates complexity. Lots of complexity.</strong> Booking supports over 50 different currencies, is available in over 140 different countries, and over 40 languages.</p>
  <p>Let’s not forget, we need to cater to mobile web, desktop web, iOS and Android platforms, too. The goal is to create a future-proof system — as much as that's possible in an ever-changing industry.</p>
  <h2>Prototype early</h2>
  <p>Good research is imperative. But I don’t like to spend weeks and months researching. Instead, I create a prototype early, using it as a tool for further research.</p>
  <figure>
    <img src="/assets/images/booking-mobile-payment-prototype.gif" alt="" width="424" height="718">
    <figcaption>Early mobile prototype of a potential new payment system for the Booking.com ecosystem.</figcaption>
  </figure>
  <h2>User testing insights</h2>
  <p>Using this prototype, I performed some remote user testing with <a href="http://usertesting.com/" target="_blank" rel="noopener">usertesting.com</a>, then watched the videos of participants completing the test tasks, and compiled all learnings into an easy-to-digest report.</p>
  <figure class="-contain">
    <img src="/assets/images/booking-user-research-summary.jpg" alt="" width="1400" height="1050">
    <figcaption>Early prototype of a potential new payment system for the Booking.com ecosystem.</figcaption>
  </figure>
  <p>We had a lot of our assumptions confirmed — users are okay with going to a separate payment mode before returning to the main site (similar to the Apple Pay experience). Some assumptions were busted — when users click <em>Pay</em> they're not yet ready to pay, even if there's a summary of their booking on the page. They expect another final step, and one last button click before the payment is initiated.</p>
  <h2>Stakeholders</h2>
  <p>With a company of over 10K employees and some 300 designers alone, you can expect some red tape around the process of redesigning the heart of the main booking flow. Our work here was a starting point. A way for people to rally around the idea of a new payment system.</p>
  <hr>
  {% include quotes/veniamin.html %}
  <hr>
  <h2>Lighting the initial spark</h2>
  <p>My team created that initial spark for an overhaul of the payment system. One that would make for happier users, and that would help the company grow. And that’s exactly what happened.</p>
  <p>Roughly a year after this initial effort a brand new payment system was rolled out on Booking.com.</p>
  {% include portfolioPageFooter.html %}
</div>
