---
layout: default
title: "BrokerEngine | Portfolio of Damir Kotorić"
description: "Design revamp of a feature-packed web app resulting in a quantum leap forward for the mortgage brokering product."
imageSrc: "/assets/images/brokerengine-cover.jpg"
imageWidth: 3200
imageHeight: 1920
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>BrokerEngine</h1>
      <p>Design revamp of a feature-packed web app resulting in a quantum leap forward for the mortgage brokering product.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/brokerengine-cover.jpg" alt="" width="3200" height="1920">
    <figcaption>Designing one of BrokerEngine's new flagship features — the ability for mortgage brokers to create complex mortgage strategy scenarios for their clients.</figcaption>
  </figure>
  <p><a href="http://brokerengine.com.au/" target="_blank" rel="noopener">BrokerEngine</a> is an all-in-one suite for real estate mortgage brokers. To use a tech analogy, BrokerEngine does for mortgage brokers what Atlassian's JIRA does for IT startups — it makes business processes more organised, helps businesses scale and reduces headaches for those in charge of overseeing all the work.</p>
  <p>I came aboard a popular, mature and complex product that grew over many years, was feature-packed, and in need of a <strong>holistic, systematic design overhaul</strong> to modernise and simplify the user experience, and set the product on course to become a game-changer in Australia's mortgage brokering industry.</p>
  <br>
  {% include quotes/craig.html %}
  <br>

  <h2 id="acquisition">Helping BrokerEngine get acquired by AFG</h2>
  <p>I worked behind the scenes to architect an entire refresh of the product design. My Figma prototype was demoed during high-stakes acquisition talks between BrokerEngine and <a href="https://www.afgonline.com.au/" target="_blank" rel="noopener">Australian Finance Group</a>, and about a month later, AFG acquired a majority stake in BrokerEngine.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-prototype.jpg" alt="" width="3200" height="1920">
        </div>
        <div class="galleryItem">
          <video src="https://storage.googleapis.com/damirkotoric/brokerengine-prototype.mp4" width="1728" height="1080" controls autoplay muted poster="/assets/images/brokerengine-prototype-cover.jpg"></video>
        </div>
      </div>
    </div>
    <figcaption>The prototype helped crystallise the product vision and was demoed during acquisition talks with AFG.</figcaption>
  </figure>
  <h2 id="one-man-orchestra">One-man design orchestra</h2>
  <p>Over the course of 6 months, I conducted the UX orchestra while simultaneously playing each UI instrument, so to speak.</p>
  <p>My work touched on <strong>everything from grand strategy UX architecture and leadership on the strategic level</strong> — recommending which design system and Figma UI kit to choose, implementing said recommendations, introducing new design principles and UX patterns, choreographing a new core UI structure and site navigation. <strong>All the way to fine-tuning the minute details of the app on the operational level</strong> — patching up alpha builds of new features, writing microcopy for error messages and even picking a more appropriate icon to better convey the meaning of a button.</p>
  <br>
  {% include quotes/will.html %}
  <br>

  <h2>Mortgage brokering ain't easy</h2>
  <p>Mortgage brokers are inundated by numbers and calculations. In order to process a single client, a "deal" needs to go through 15-stages before the house keys are handed over to the customer applying for the mortgage. <strong>Mortgage brokering can feel like a turbulent bureaucratic roller coaster</strong>. I was astounded by the sheer complexity of this industry.</p>
  <figure class="-contain">
    <img src="/assets/images/brokerengine-matrix.jpg" alt="" width="2000" height="1333">
    <figcaption>Without a great system in place, being a mortgage broker can feel like being trapped in a matrix of numbers, calculations and looming deadlines.</figcaption>
  </figure>
  <p>The mortgage broker's lexicon:</p>
  <ul>
    <li>Product scenarios</li>
    <li>Funding positions</li>
    <li>Financing and refinancing</li>
    <li>Principle and revision loan terms</li>
    <li>Fixed and variable interest rates</li>
    <li>Discount rates</li>
    <li>Yearly and monthly fees</li>
    <li>Monthly repayments</li>
    <li>Payment options</li>
    <li>Credit cards</li>
    <li>Extras, packages and offers</li>
    <li>Expected approval dates</li>
    <li>Document sign-off</li>
    <li>And many, many more...</li>
  </ul>
  <p>And that's just lightly scratching the surface of a single client deal! Multiply the above by hundreds, or thousands of deals that a mortgage brokering business has to juggle, and soon you're swimming in an ocean of numbers, statistics, and the spookiest sea monsters of all: looming deadlines.</p>
  <p><strong>My goal for BrokerEngine was to simplify, simplify, simplify.</strong> Not to dumb down, but to elegantly simplify. My design goal for <strong>BrokerEngine is to be the rescue vessel</strong> that will alleviate stress and empower mortgage brokers to navigate this <em>Turbulent Matrix-like Data Ocean</em> with elegance and ease. To empower users by bubbling important information to the surface of the ocean, and give them a sense of control over their work. Mastery over their work, perhaps.</p>
  
  <h2>Leveraging the masters</h2>
  <p>My clients on this project, <a href="https://www.linkedin.com/in/willswayne/" target="_blank" rel="noopener">Will</a> and <a href="https://www.linkedin.com/in/maphomeloans/" target="_blank" rel="noopener">Craig</a> are the seasoned sailors of the mortgage brokering seas. With decades of real estate experience between them, they set out to build BrokerEngine to solve the exact complexities they had to encounter time and time again in their own line of work.</p>
  <p>I leveraged their expertise as subject matter experts, and they leveraged my expertise to give coherence and structure to their product design, and together we collaborated across time zones to chart an exciting new course for BrokerEngine.</p>

  <h2>Introducing consistent, systematic components</h2>
  <p>BrokerEngine had inconsistent usage of UI components, and entire patterns were often reinvented on different pages. For example, the Filter component was used in a handful of different parts of the app, and each instance was different to the other. This is a lose-lose setup because it hurts both the business and the user. It's expensive to design, more expensive to develop, and dissatisfying to the user who has to relearn the same component many times over.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-deals-before.jpg" width="2880" height="1642" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-tasks-before.jpg" width="2880" height="1642" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-deal-documents-before.jpg" width="2880" height="1642" alt="">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-deals-after.jpg" width="2880" height="1600" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-tasks-after.jpg" width="2880" height="1600" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-filter-deal-documents-after.jpg" width="2880" height="1600" alt="">
        </div>
      </div>
    </div>
    <figcaption>Before: Multiple fragmented Filter components scattered through the app.<br>After: One single consistent Filter component that is used throughout the app.</figcaption>
  </figure>
  <p>One of my first tasks was to identify any components that were used inconsistently and to design a single universal UI component system that would be standardised across the app.</p>

  <h2>Hit the lights! Dark theme support</h2>
  <p>Admittedly, this is mainly an eye-catching feature, though, with an increasingly remote workforce and more and people working flexible hours, a dark theme can ease the retinas during an evening session on BrokerEngine. This is also a differentiating factor from all the other products on the market. And it just looks damn cool!</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-light-dark.jpg" width="3200" height="1920" alt="">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-light.jpg" width="3200" height="1920" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-dark.jpg" width="3200" height="1920" alt="">
        </div>
      </div>
    </div>
    <figcaption>Light and dark theme support for BrokerEngine.</figcaption>
  </figure>

  <h2>Ant Design vs Material Design</h2>
  <p><a href="https://ant.design/" target="_blank" rel="noopener">Ant Design</a> was the design system of choice when I joined the project, and I was keen to try out this fledging new design system from the people behind Alibaba. Later though, I would advise moving to Material Design.</p>
  <h3>Ant Design</h3>
  <ul class="-naked">
    <li>✅ A comprehensive set of components</li>
    <li>✅ Left-to-right and right-to-left variations of components for internationalisation</li>
    <li>✅ A comprehensive, though <a href="https://antforfigma.com/" target="_blank" rel="noopener">unofficial Figma UI Kit</a></li>
  </ul>
  <ul class="-naked">
    <li>❌ Mediocre icon set with poor readability of icons, especially on smaller sizes</li>
    <li>❌ Uninspiring type system</li>
    <li>❌ The unofficial UI Kit clearly isn't maintained by the company and lacks some attention to detail, nor does it offer dark theme variations of any components</li>
  </ul>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deals-after.png" width="2880" height="1800" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deals-material-design.jpg" width="2880" height="1600" alt="">
        </div>
      </div>
    </div>
    <figcaption>Ant Design (former) and Material Design (latter). The differences are subtle, but the icons are a touch more readable using Material Design, and the default atomic UI elements (search bar, buttons) are more pleasing to the eye.</figcaption>
  </figure>
  <h3>Material Design</h3>
  <ul class="-naked">
    <li>✅ Simpler and aesthetically more pleasing UI components</li>
    <li>✅ Excellent icon set</li>
    <li>✅ Excellent <a href="https://material-ui.com/store/items/figma-react/" target="_blank" rel="noopener">Figma UI Kit</a> with both light and dark theme variations. Though I wish those variations were actual Figma variants instead of the light and dark themes being in separate Figma files, it's still better than no dark theme support.</li>
  </ul>
  <ul class="-naked">
    <li>❌ Not as comprehensive as Ant Design</li>
    <li>❌ Equally uninspiring type system</li>
    <li>❌ Needs some tweaking to remove the "Android look". Namely, the ribbon effect and all caps buttons.</li>
  </ul>
  <p>Neither Ant Design nor Material Design, nor their Figma assets were the holy grail of UI design that I'm seeking. But! They both save vast amounts of time, and personally, I'd pick Material Design as a base for future projects, which I found more robust. I only used the core MD atomic components (Text fields, Tabs, Radio Buttons, Checkboxes etc.) and I rolled out my own bespoke type system which is inspired by the more flexible <a href="https://tailwindui.com/" target="_blank" rel="noopener">Tailwind UI</a> type system.</p>

  <h2>Before & After</h2>
  <p>A look at the state of BrokerEngine before my design overhaul, and after, on a page by page basis:</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deals-before.jpg" width="2880" height="1800" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deals-after.png" width="2880" height="1600" alt="">
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deal-current.jpg" width="2880" height="1800" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-deal-after.jpg" width="2880" height="1800" alt="">
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-signup-before.jpg" width="2880" height="1800" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/brokerengine-signup-after.jpg" width="2880" height="1800" alt="">
        </div>
      </div>
    </div>
    <figcaption>UI Rehaul: The simplified UI now uses colour more sparingly, and whitespace more generously. It looks less "boxy" because it relies more on typography, colour and spacing for hierarchy rather than boxing elements into shapes.</figcaption>
  </figure>
  <p>My task for BrokerEngine has been to realign their design direction and set a new course for the product. With this major realignment now complete, I've handed over my work to the team who will steer the ship from now on. I'll be keenly following their progress, and <strike>wish</strike> expect of them lots of success in their journey ahead.</p>
  
  {% include portfolioPageFooter.html %}
</div>
