---
layout: default
title: "BrokerEngine | Portfolio of Damir Kotorić"
description: "Ground-up redesign of a complex feature-packed real estate web app resulting in the startup getting acquired by Australian Finance Group."
imageSrc: "/assets/images/cdp-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>BrokerEngine</h1>
      <p>Ground-up redesign of a complex feature-packed web app resulting in a quantum leap forward for the mortgage brokering product, and the startup <a href="https://www.theadviser.com.au/breaking-news/42330-aggregator-acquires-broker-software-business" target="_blank" rel="noopener">getting acquired by Australian Finance Group</a>.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/brokerengine-cover.jpg" alt="" width="3200" height="1920">
    <figcaption>Designing one of BrokerEngine's new flagship features — the ability for mortgage brokers to create complex mortgage strategy scenarios for their clients.</figcaption>
  </figure>
  <p>BrokerEngine is an all-in-one suite for real estate mortgage brokers. To use a tech analogy, BrokerEngine does for mortgage brokers what Atlassian's JIRA does for IT startups — it makes business processes more organised, helps businesses scale and reduces headaches for those in charge of overseeing all the work.</p>
  <p>I came onboard a popular and mature product that grew over many years, was feature packed, and one that was in need of a holistic, systems-thinking design overhaul in order to modernise and simplify the user experience, and set the product on a course to become a game-changer in Australia's mortgage brokering industry.</p>
  {% include quotes/craig.html %}
  <h2 id="acquisition">Acquired by Australian Finance Group</h2>
  <p>During high-stakes acquisition talks between the team at BrokerEngine and Australian Finance Group, my Figma prototype was demoed in order to crystallise a vision for the future of the product. The end result? The team at AFG "loved it" and about a month later, <a href="https://www.theadviser.com.au/breaking-news/42330-aggregator-acquires-broker-software-business" target="_blank" rel="noopener">the news was official that Australian Finance Group has acquired BrokerEngine</a>, a milestone moment for the startup, giving it the funding and security required to execute our ambitious product vision.</p>
  <figure>
    <img src="/assets/images/brokerengine-prototype.jpg" alt="" width="3200" height="1920">
    <figcaption>Bla</figcaption>
  </figure>
  <h2 id="one-man-orchestra">One-man design orchestra</h2>
  <p>Over the course of 6 months, I was a single person design team.</p>
  <p>My work touched on everything from grand strategy UX architecture and leadership on the strategic level — recommending which design system and Figma UI kit to choose, implementing said recommendations, introducing new design principles and UX patterns, choreographing a new core UI structure and navigation system. All the way to the minute operational-level "UX trench warfare" — patching up alpha builds of features before they are shipped, writing microcopy for error messages and picking a more appropriate icon to better convey the meaning of a button.</p>
  {% include quotes/will.html %}
  
  Complex process and BE helps all the way.
  
  <h2 id="testing">Remote User Testing</h2>
  <p>Utilising <a href="https://www.optimalworkshop.com/" target="_blank" rel="noopener">Optimal Workshop</a>, I've set up two different tests: a <a href="https://www.optimalworkshop.com/treejack/" target="_blank" rel="noopener">tree test</a> for the navigation structure, and a <a href="https://www.optimalworkshop.com/chalkmark/" target="_blank" rel="noopener">click test</a> for the UI layout of the home page.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <img src="/assets/images/cdp-testing-1.jpg" alt="" width="1600" height="1200" data-no-zoom>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-2.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-3.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-4.jpg" width="1200" height="1200" alt="">
        </div>
      </div>
    </div>
    <figcaption>Analysing user testing reports.</figcaption>
  </figure>
  <p>The turnaround time for this work was a few months — factoring in everything from project analysis, stakeholder meetings, a few iterations on the design direction, prototyping, QA and testing.</p>
  {% include portfolioPageFooter.html %}
</div>
