---
layout: default
title: "NSW Climate Data Portal | Portfolio of Damir Kotorić"
description: "Designing an open data portal for the New South Wales Government. Petabytes of climate data made available to Australian organisations and the general public."
imageSrc: "/assets/images/cdp-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>NSW Climate Data Portal</h1>
      <p>Designing an open data portal for the New South Wales Government. <a href="https://en.wikipedia.org/wiki/Petabyte" target="_blank" rel="noopener">Petabytes</a> of climate data made available to Australian organisations and the general public.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/cdp-cover-full.jpg" alt="" width="3200" height="2400">
    <figcaption>An open data portal offering large volumes of climate data, made available to the public.</figcaption>
  </figure>
  <p>The NSW Climate Data Portal makes <a href="https://en.wikipedia.org/wiki/Petabyte" target="_blank" rel="noopener">petabytes</a> of climate data data available to climate researchers, industry, emergency services, government, and the media, and the public. <strong>Open climate data enables us to understand the state of climate change in New South Wales</strong>, and for decision makers to make better and more data informed decisions.</p>
  <figure>
    <img src="/assets/images/cdp-analysis.jpg" alt="" width="3200" height="2000">
    <figcaption>First step is a thorough analysis to hit the ground running. Not pictured: lots talking to stakeholders to extract all relevant info.</figcaption>
  </figure>
  <h2 id="leading-design">Leading the design effort</h2>
  <p><strong>As the only designer on a team of dozens of techies and government stakeholders, my responsibility was to synthesise all requirements and paint a single road ahead for the portal.</strong></p>
  <p>I captured requirements from a team of stakeholders, analysed user research reports, and then delivered design mockups laying the ground work for the foundation of this open data portal. Following that, I user tested the proposed solution and delivered a report of findings and recommendations for next steps.</p>
  <figure>
    <img src="/assets/images/cdp-design.jpg" alt="" width="1600" height="900">
    <figcaption>A glimpse at the design direction for the dataset page. Here users can download the entire dataset (massive file) or customise it to a specific region of interest (smaller, more relevant download).</figcaption>
  </figure>
  <h2 id="design-system">Design system</h2>
  <p>I leveraged the <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener">existing NSW Government design system</a> in the creation of this solution. This helped speed up stakeholder approval, development speed, and creates a more cohesive experience with other NSW Government sites.</p>
  <figure>
    <img src="/assets/images/cdp-search.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Designing faceted search to allow users to quickly find "a needle in a haystack".</figcaption>
  </figure>
  <h2 id="design-philosophy">No nonsense design philosophy</h2>
  <p>My goal was to keep it simple and stick as close as possible to the existing design system. This would ensure both a faster build, and a more accessible solution, since the design system components are accessible out of the box.</p>
  <figure>
    <img src="/assets/images/cdp-dataset.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Designing for scale was crucial. Each dataset can contain anywhere from gigabytes to petabytes of data. Therefore we want to make it easy for people to download only what they need.</figcaption>
  </figure>
  <h2 id="open-source">Built on open source</h2>
  <p><a href="https://ckan.org/" target="_blank" rel="noopener">CKAN</a> is the open source platform that's used for the technological foundation for this portal. After reviewing CKAN, I created a design diretion which utilised CKAN's strengths, complies with the NSW Government design system, and most importantly, meets the needs of the portal users.</p>
  <figure>
    <img src="/assets/images/cdp-report.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Reports summarise datasets in a human-readable way. They interpret the insights that are to be gained from the data.</figcaption>
  </figure>
  <h2 id="looking-ahead">Looking ahead</h2>
  <p>As part of this work I spent some time mapping out a vision for a data visualisation feature. One that would allow people without data science degrees to use the site, and thereby make this important climate data accessible to a wide audience.</p>
  <figure>
    <img src="/assets/images/cdp-future.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Exploring a concept for a future addition to the site — interactive maps and data visualisation, which would make the site more accessible to a wider audience.</figcaption>
  </figure>
  <h2 id="testing">Remote User Testing</h2>
  <p>Utilising <a href="https://www.optimalworkshop.com/" target="_blank" rel="noopener">Optimal Workshop</a>, I've set up two different tests: a <a href="https://www.optimalworkshop.com/treejack/" target="_blank" rel="noopener">tree test</a> for the navigation structure, and a <a href="https://www.optimalworkshop.com/chalkmark/" target="_blank" rel="noopener">click test</a> for the UI layout of the home page.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <img src="/assets/images/cdp-testing-1.jpg" alt="" width="1600" height="1200" data-no-zoom>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-2.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-3.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-4.jpg" width="1200" height="1200" alt="">
        </div>
      </div>
    </div>
    <figcaption>Analysing user testing reports.</figcaption>
  </figure>
  <p>A group of 20 target users participated. The result was a 71% success rate on the tree test, and an 80% average success rate for key tasks in the click test — promising!</p>
  <figure>
    <img src="/assets/images/cdp-user-testing-summaries.jpg" alt="" width="1600" height="872">
    <figcaption>Using Zoom and screen sharing, I prepared a bunch of tasks for participants to run through. I then watched as they completed the tasks, and scribbled down lots of notes before compiling them into a report for what improvements we can make to the portal.</figcaption>
  </figure>
  <p>The turnaround time for this work was a few months — factoring in everything from project analysis, stakeholder meetings, a few iterations on the design direction, prototyping, QA and testing.</p>
  {% include portfolioPageFooter.html %}
</div>
