---
layout: default
title: "NSW Climate Data Portal | Portfolio of Damir Kotorić"
description: "Designing an open data portal for the New South Wales Government. Petabytes of climate data made available to Australian businesses and the general public."
imageSrc: "/assets/images/cdp-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>NSW Climate Data Portal</h1>
      <p>Designing an open data portal for the New South Wales Government. Petabytes of climate data made available to Australian businesses and the general public.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/cdp-cover-full.jpg" alt="" width="3200" height="2400">
    <figcaption>An open data portal offering large volumes of climate data, made available to the public.</figcaption>
  </figure>
  <p>Quality data is key in the fight against climate change. The NSW Climate Data Portal makes enormous amounts of data available to the public — we're talking <a href="https://en.wikipedia.org/wiki/Petabyte" target="_blank" rel="noopener">petabytes</a> of climate data.</p>
  <p>Once launched, the portal will be used by climate researchers, industry specialists, emergency services, government, the media, and the general public in order to better understand the state of climate change in the New South Wales, and thereby make informed plans for the future.</p>
  <figure>
    <img src="/assets/images/cdp-analysis.jpg" alt="" width="3200" height="2000">
    <figcaption>My go-to first step at the start of a project is to make visible all the existing work and planning that went into the project before I joined. I analyse quickly to hit the ground running. The next step is to contribute my own ideas and talk with stakeholders.</figcaption>
  </figure>
  <h2>Leading the design effort</h2>
  <p><strong>As the only designer on a team of about a dozen techies and government stakeholders, my responsibility was to lead the entire design effort on this project.</strong> I captured requirements from a team of stakeholders, analysed user research reports, and then delivered a <a href="https://www.figma.com/proto/z3viEIo2J1ZbPcmbu0cBKJ/OEH-3666-Climate-Data-Portal-Copy?node-id=201%3A4626&viewport=448%2C230%2C0.015625&scaling=min-zoom" target="_blank" rel="noopener">prototype</a> laying the ground work for the foundation of this big data portal. Following that, I user tested the proposed solution and delivered a report of findings and recommendations for next steps.</p>
  <figure>
    <img src="/assets/images/cdp-prototype.jpg" alt="" width="1600" height="900">
    <figcaption>A glimpse at the logic behind the prototype that I created for this project. <a href="https://www.figma.com/proto/z3viEIo2J1ZbPcmbu0cBKJ/OEH-3666-Climate-Data-Portal-Copy?node-id=201%3A4626&viewport=448%2C230%2C0.015625&scaling=min-zoom" target="_blank" rel="noopener">Take the prototype for a test-drive.</a> This was used to communicate the project vision to key stakeholders and as a way to communicate to developer of the intended look and functionality.</figcaption>
  </figure>
  <h2>Design system</h2>
  <p>I leveraged an <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener">existing NSW Government design system</a> in the creation of this solution. My final deliverable was a set of high-fidelity mockups for mobile and desktop, and a <a href="https://www.figma.com/proto/z3viEIo2J1ZbPcmbu0cBKJ/OEH-3666-Climate-Data-Portal-Copy?node-id=201%3A4626&viewport=448%2C230%2C0.015625&scaling=min-zoom" target="_blank" rel="noopener">clickable prototype</a>.</p>
  <p>My work helped aligned the team of stakeholders on the vision for the portal, and it gave the development team guidance for the build.</p>
  <figure>
    <img src="/assets/images/cdp-search.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Designing faceted search to allow users to quickly find "a needle in a haystack".</figcaption>
  </figure>
  <h2>No nonsense design philosophy</h2>
  <p>My goal was to keep it simple and stick as close as possible to the existing design system. This would ensure both a faster build, and a more accessible solution, since the design system components are accessible out of the box.</p>
  <figure>
    <img src="/assets/images/cdp-dataset.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>An individual dataset page. Datasets are a packaged set of data. Each dataset can contain anywhere from gigabytes to petabytes of data. And the site is expected to have tens of thousands of datasets. Designing for scale was crucial.</figcaption>
  </figure>
  <h2>Built on open source</h2>
  <p><a href="https://ckan.org/" target="_blank" rel="noopener">CKAN</a> is the open source platform that's used for the technological foundation for this portal. After reviewing CKAN, I created a theme that utilised its strengths, and circumvents its UX shortcomings — of which there were a few. At the same time, the solution had to comply with the NSW Government design system, and of course not just tick these boxes but ultimately, and most importantly, meet the needs of future portal users.</p>
  <figure>
    <img src="/assets/images/cdp-report.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Reports summarise datasets in a human-readable way. They interpret the insights that are to be gained from the data.</figcaption>
  </figure>
  <h2>Looking ahead</h2>
  <p>As part of this work I spent some time mapping out a vision for a data visualisation feature. One that would allow people without data science degrees to use the site, and thereby make this important climate data accessible to a wide audience.</p>
  <figure>
    <img src="/assets/images/cdp-future.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>Exploring a concept for a future addition to the site — interactive maps and data visualisation. Presently the site caters to data scientists. Features like these would allow for greater accessibility to the public.</figcaption>
  </figure>
  <h2>Testing</h2>
  <p>Utilising <a href="https://www.optimalworkshop.com/" target="_blank" rel="noopener">Optimal Workshop</a>, I've set up two different tests: a <a href="https://www.optimalworkshop.com/treejack/" target="_blank" rel="noopener">tree test</a> for the navigation structure, and a <a href="https://www.optimalworkshop.com/chalkmark/" target="_blank" rel="noopener">click test</a> for the UI layout of the home page.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <img src="/assets/images/cdp-testing-1.jpg" alt="" width="1600" height="1200" data-no-zoom>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-2.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-3.jpg" width="1200" height="1200" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-4.jpg" width="1200" height="1200" alt="">
        </div>
      </div>
    </div>
    <figcaption>Analysing user testing reports.</figcaption>
  </figure>
  <p>A group of 20 target users participated. The result was a 71% success rate on the tree test, and an 80% average success rate for key tasks in the click test — promising. While there's some room for improvement, overall I was happy with the results, especially on key data discovery tasks where the vast majority of users quickly found what they were looking for. In my report I recommended a more in-depth user testing effort once the site is in beta, but overall we're quite confident with our initial direction.</p>
  <p>The turnaround time for this work was about a month — factoring in everything from project analysis, stakeholder meetings, a few iterations on the design direction, prototype creation and testing.</p>
  {% include portfolioPageFooter.html %}
</div>
