---
layout: default
title: "Chatbot Leaning App for iOS | Portfolio of Damir Kotorić"
description: "Ground-up design of a learning app created for an Australian startup aiming to transform the corporate L&D space."
imageSrc: "/assets/images/ideaverse-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Chatbot Learning App for iOS</h1>
      <p>Setting the design foundation for a conversational UI experience.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/chatbot-app.jpg" alt="" width="1600" height="900">
  </figure>
  <p><strong>“We want to create a learning app that’s exciting and fun to use”</strong> — Paraphrasing the brief for this project.</p>
  <p>I was approached by an Australian startup with the task of creating an overhauled v2 of their existing app.</p>
  <h2>Product review.</h2>
  <p>In my experience, time after time, what helps me hit the ground running on an existing product is a product review where I audit the app.</p>
  <figure class="-full">
    <img src="/assets/images/chatbot-app-audit.png" alt="" width="2716" height="900">
    <figcaption>A product audit of the existing app before I started work on it.</figcaption>
  </figure>
  <p>I’m candid with my feedback. Respect is paramount, but so is honest feedback. If I think something needs improving, I let the client know. And I accept the same in return once I start designing and presenting for feedback.
  </p>
  <figure>
    <img src="/assets/images/chatbot-app-appstore-review.png" alt="" width="1750" height="942">
    <figcaption>Here I’m reviewing the App Store page, not just the app. All customer touch points are important and need to be carefully thought about.</figcaption>
  </figure>
  <p>Nothing is off limits when it’s product review time. On this project, I reviewed all customer touch points.
  <ul>
    <li>Reviewing the existing app.</li>
    <li>Checking for consistency in experience and tone of voice in emails.</li>
    <li>Visibility on search engines and messaging used in SEO meta tags.</li>
    <li>App Store page visibility, and quality of first impression.</li>
  </ul>
  <h2>Design Sprint workshop.</h2>
  <p>Next up, I send my review to the client and schedule the workshop. This is the most important meeting in the project. In this case, a 5-hour marathon at <a href="https://www.thecluster.com.au/" target="_blank" rel="noopener">The Cluster co-working space</a> in Melbourne.</p>
  <figure class="-contain">
    <img src="/assets/images/cluster-coworking-space-melbourne.jpg" alt="" width="1024" height="683">
    <figcaption>Innovation can often be a no-frills affair. In this case it definitely wasn’t. The Cluster co-working space with its million dollar view.</figcaption>
  </figure>
  <p>I facilitated the design sprint using <a href="https://miro.com/" target="_blank" rel="noopener">Miro</a> — my beloved Miro, enabler of remote design workshops.</p>
  <figure class="-contain">
    <img src="/assets/images/chatbot-app-design-workshop.png" alt="" width="1225" height="568">
    <figcaption>Miro is my tool of choice for workshops. It’s a “whiteboard in the cloud” and after a little help getting everyone set up, it works extremely well.</figcaption>
  </figure>
  <p>Regarding the design sprint, I don’t follow the <a href="https://www.gv.com/sprint/" target="_blank" rel="noopener">Google Ventures design sprint methodology</a> religiously. I use it as a foundation, but have my own way of doing design sprints, and always customise it to the client and project at hand. I can't show the details of the design sprint as they contain some sensitive business logic and product roadmap ideation.</p>
  <h2>Prototype.</h2>
  <p>This is where I shine. My competitive advantage is being able to “wow” the client in the 5-7 days, by not just facilitating the design sprint, but also starting work on an eye-catching and exciting prototype that paints a picture of what’s to come.</p>





  








  <!-- <figure>
    <video src="https://storage.googleapis.com/damirkotoric/ideaverse-prototype.mp4" width="1920" height="960" controls poster="/assets/images/ideaverse-prototype-poster.jpg" autoplay muted loop></video>
    <figcaption>Clicking through the prototype. Exploring ideas, tweaking the creative direction, and exploring different features of the <abbr title="minimal viable product">MVP</abbr>.</figcaption>
  </figure> -->
  <hr>
  {% include portfolioPageFooter.html %}
</div>
