---
layout: default
title: "Cosmitto | Portfolio of Damir Kotorić"
description: "Leading a complete ground-up design for a corporate training comparison site for Australia and New Zealand."
imageSrc: "/assets/images/cosmitto-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Cosmitto</h1>
      <p>Leading a complete ground-up design for a corporate training comparison site for Australia and New Zealand.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/cosmitto-cover.jpg" alt="" width="1600" height="900">
  </figure>
  <h2>Making it quick 'n easy to find high quality training.</h2>
  <p>Cosmitto aims to be a one stop shop for all things corporate learning & development. It's a platform where training providers list their profile and training courses, and where people can go to find all sorts of training, from corporate workshops, to online learning and university short courses.</p>
  <p>My job was to interpret the client's pitch deck, and broad ideas for the site, and translate their product idea into an easy-to-use, modern design which would guide the development for the MVP.</p>
  <figure>
    <img src="/assets/images/cosmitto-search.jpg" alt="" width="1600" height="900">
    <figcaption>The search experience on Cosmitto. One can search by category, location and a number of other facets.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-search-tablet.jpg" alt="" width="1600" height="900">
    <figcaption>The search experience for tablet devices. One can search in both list and map view. The former giving more fine-grained control, and the latter offering greater overview of where courses are offered.</figcaption>
  </figure>
  <h2>Quality work on time.</h2>
  <p>COVID-19 exploded worldwide at the time when Cosmitto was being designed and built. Shipping the site quickly was super important, and we managed to ship it within a few months to take advantage of the large spike in remote training that was suddenly in high demand, and which Cosmitto caters to.</p>
  <figure>
    <img src="/assets/images/cosmitto-search-providers.jpg" alt="" width="1600" height="900">
    <figcaption>Finding training providers on Cosmitto.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-course.jpg" alt="" width="1600" height="9740">
    <figcaption>Course page on Cosmitto. Here the user can evaluate a course and get in touch with the training provider to find out more. Ideally one would be able to book courses directly on Cosmitto, but in order to keep the scope low for the initial release, we decided to direct users to an external link where they can book the course on the provider's website.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-portal.jpg" alt="" width="1600" height="900">
    <figcaption>Provider Portal: An admin area for providers to add course listings and profile information.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-portal-add-course.jpg" alt="" width="1600" height="900">
    <figcaption>Provider Portal: <abbr title="Content Management System">CMS</abbr> where providers add and edit course listings.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-portal-upgrade.jpg" alt="" width="1600" height="900">
    <figcaption>Provider Portal: The start of the Upgrade flow, where providers sign up to post more than 2 course listings.</figcaption>
  </figure>
  <h2>Looking ahead.</h2>
  <p>Due to budget and time constraints, and complexity of implementation, the initial release of Cosmitto doesn't offer a way for visitors to book courses directly on the site. To demystify the road ahead, I also designed the booking flow as part of this work.</p>
  <figure>
    <img src="/assets/images/cosmitto-book.jpg" alt="" width="1600" height="900">
    <figcaption>Booking flow. A user booking a course directly on the site.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/cosmitto-booking-complete.jpg" alt="" width="1600" height="900">
    <figcaption>Booking confirmation.</figcaption>
  </figure>
  <p>This covers about 10% of the design mockups that I created for Cosmitto. Following this, I did a few weeks of extensive QA and testing work to help developers implement the site correctly. In all, I spent 180 hours on this project.</p>
  <p>A big thank you to <a href="https://www.linkedin.com/in/bradley-zarich/" target="_blank" rel="noopener">Brad</a> and <a href="https://www.linkedin.com/in/teigan-murphy-bb306b30/" target="_blank" rel="noopener">Teigan</a> for their collaboration in creating such a great design direction together. Check out <a href="https://cosmitto.com.au/" target="_blank" rel="noopener">Cosmitto</a> to find your next corporate training provider.</p>
  {% include portfolioPageFooter.html %}
</div>
