---
layout: default
title: "Geological Services Queensland Open Data Portal | Portfolio of Damir Kotorić"
description: "Designing a big data portal for the Queensland Government, containing petabytes of geological mining data."
imageSrc: "/assets/images/gsq-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1><abbr title="Geological Services Queensland">GSQ</abbr> Open Data Portal <a href="https://geoscience.data.qld.gov.au/" target="_blank" rel="noopener" class="heroTitleLink"><span>{% include /svg/icon-link.svg %}</span></a></h1>
      <p>Designing an open data portal for the Queensland Government, containing <a href="https://en.wikipedia.org/wiki/Petabyte" target="_blank" rel="noopener">petabytes</a> of geological mining data.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/gsq-cover.jpg" alt="" width="1600" height="900">
  </figure>
  <h2>Data-informed mining</h2>
  <p><a href="https://www.qld.gov.au/" target="_blank" rel="noopener">Queensland Government</a>'s <a href="https://www.dnrme.qld.gov.au/" target="_blank" rel="noopener">Department of Natural Resources, Mines and Energy</a> is making geological data more accessible. Empowering industry with vast amounts of geological data enables better strategic decision making in Queensland's $38 billion dollar per year mining industry.</p>
  <p><strong>My role was to come aboard and lead the design phase of this project.</strong> The main user requirements were identified in video call meetings with key stakeholders. I then created a design solution that would meet those user requirements, while utilising the <a href="https://ckan.org/" target="_blank" rel="noopener">CKAN framework</a> and <a href="https://github.com/qld-gov-au/swe" target="_blank" rel="noopener">Queensland government's design framework</a>.</p>
  <figure class="-contain">
    <div class="iframeMedia">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q_6VEOBCUGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <figcaption>Introducing the aim of the project — to bridge the gap between scientists and industry.</figcaption>
  </figure>
  <h2>Target audience</h2>
  <p>This portal needs to cater to everyone from corporate teams working from skyscrapers in the big cities, to "two blokes in a ute with a slight sunburn and a beard" surveying sites on-location.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/gsq-surveyor.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/gsq-cars-outback.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/gsq-geospatial-model.jpg" width="1200" height="1200" alt="">
        </div>
      </div>
      <div class="galleryRow">
        <img src="/assets/images/gsq-coporate-users.jpg" alt="" width="1680" height="600">
      </div>
    </div>
    <figcaption>The pool of portal users ranges from mining industry executives, to surveyors, researchers, and academia.</figcaption>
  </figure>
  <h2>Designing the portal</h2>
  <p>I opted for my usual "no-nonsense simplicity" approach when tackling the design direction for this project. As usual, this simple approach paid off because this direction is accessible, performant, and fast to develop — an important factor given the tight deadline for the project.</p>
  <figure>
    <img src="/assets/images/gsq-search.jpg" alt="" width="1600" height="1200">
    <figcaption>Discovering datasets using faceted search.</figcaption>
  </figure>
  <h2>Government design system compliant</h2>
  <p>Queensland Government's <a href="https://github.com/qld-gov-au/swe" target="_blank" rel="noopener">Single Website Experience</a> lays out a set of colours, typographic styles, and components that all new websites and portals of Queensland Government are to use. The design directions here follows this framework in order to help promote a consistent user experience, meet accessibility criteria more easily, as well as enable faster development time.</p>
  <figure>
    <img src="/assets/images/gsq-region.jpg" alt="" width="1600" height="1000">
    <figcaption></figcaption>
  </figure>
  <figure>
    <img src="/assets/images/gsq-dataset.jpg" alt="" width="1600" height="1000">
    <figcaption></figcaption>
  </figure>
  <p>I delivered a design direction for this project in less than 40 hours of work. My deliverables were a set of high-fidelity mockups and a clickable prototype, illustrating the intended navigation of the portal. This project is on a tight deadline, and the fast turnaround time meant continuing on track for a timely delivery.</p>
  <hr>
  {% include quotes/john.html %}
  <hr>
  <p>The GSQ Open Data Portal was launched in 2020. <a href="https://geoscience.data.qld.gov.au/" target="_blank">Visit the site.</a></p>
  {% include portfolioPageFooter.html %}
</div>
