---
layout: default
title: "Ideaverse | Portfolio of Damir Kotorić"
description: "Helping a Berlin based machine learning startup go from vague product idea to high-fidelity prototype in two weeks."
imageSrc: "/assets/images/ideaverse-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Ideaverse</h1>
      <p>Helping a Berlin based machine learning startup go from vague product idea to high-fidelity prototype in two weeks.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/ideaverse-cover.jpg" alt="" width="1600" height="900">
    <figcaption>Ideaverse — an app for teams to collaborate on art direction.</figcaption>
  </figure>
  <h2>The dream.</h2>
  <p>"What if creatives could, instead of <em>using</em> computers, collaborate <em>with</em> computers to produce their work?" The central premise of <a href="https://medium.com/@creativeai/creativeai-9d4b2346faf3" target="_blank" rel="noopener">Creative AI</a> is that artificial intelligence will allow everyone to become a designer.</p>
  <p>Sound like sci-fi? Well, it's not far off.</p>
  <figure class="-full">
    <img src="/assets/images/ideaverse-designs-3d.jpg" alt="" width="1440" height="900">
    <figcaption>The deliverable at the end of the two weeks was a clickable prototype, which I helped user test.</figcaption>
  </figure>
  <h2>Back to reality.</h2>
  <p>While a quantum leap in human computer interaction is a worthy pursuit, we had a new company that had to deliver its first product on its maiden MVP launch, and we needed this fast.</p>
  <h2>Remote design sprint.</h2>
  <p>My first order of business was to facilitate a remote design sprint, to bring all ideas to the table, to explore all possibilities, and then narrow in on one particular feature set, and creative direction.</p>
  <p><a href="https://medium.com/@damirkotoric/how-to-run-remote-design-sprints-6145b1d512a9" target="_blank" rel="noopener">More on how I run remote design sprints.</a></p>
  <figure class="-contain">
    <img src="/assets/images/remote-design-sprint.jpg" alt="" width="1124" height="998">
    <figcaption>Running a design workshop with colleagues from Berlin, Amsterdam, Helsinki, Vienna, and myself in Australia.</figcaption>
  </figure>
  <p>Before the design sprint I prepared the persona posters. We referred to these during the workshop as a prop to keep the target users close in mind.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/creativeAI-persona-bystander.jpg" width="2480" height="3508" alt="A poster of a user persona named 'The Bystander'">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/creativeAI-persona-creative-professional.jpg" width="2480" height="3508" alt="A poster of a user persona named 'The Creative Professional'">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/creativeAI-persona-executive.jpg" width="2480" height="3508" alt="A poster of a user persona named 'The Executive'">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/creativeAI-persona-generative-architect.jpg" width="2480" height="3508" alt="A poster of a user persona named 'The Generative Architect'">
        </div>
      </div>
    </div>
    <figcaption>A collection of user personas helped us keep in mind our target users.</figcaption>
  </figure>
  <p>I'm not a big fan of the typical verbose and elaborate user personas because they put too much emphasis on demographics, and add more noise than value to the design process. After seeing <a href="https://awards.designforexperience.com/gallery/2013/promoting-empathy-for-users/mailchimp" target="_blank" rel="noopener">Mailchimp's simple and eye-catching user personas</a>, I decided to give these a try. I still believe that <a href="https://jtbd.info/replacing-the-user-story-with-the-job-story-af7cdee10c27" target="_blank" rel="noopener">the job at hand</a> is often more important than demographics, but these did come in handy at times.</p>
  <figure>
    <img src="/assets/images/ideaverse-design-sprint-output-day-1.jpg" width="4000" height="2667" alt="">
    <figcaption>Output of Design Sprint Day 1: We defined the strategic goals, requirements, explored what existing solutions are out there already, and hand picked the ideas that we wanted to influence our direction going forward.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/ideaverse-design-sprint-output-day-2.jpg" width="4000" height="2569" alt="">
    <figcaption>Design Sprint Day 2: Ideation, lots and lots of ideation. We explored over a dozen different ideas, voted on what we liked, and came to a consensus on what single idea we want to pursue.</figcaption>
  </figure>
  <p>At the end of the two days of workshops we agreed on a feature set, and a rough vision for the new product. My task was now to take that vision, and bring it to life by creating a prototype.</p>
  <hr>
  {% include quotes/roelof.html %}
  <hr>
  <h2>A universe of ideas.</h2>
  <p>After two long days of design workshops we narrowed down on one product direction — one based on the metaphor of a universe of ideas.</p>
  <figure>
    <img src="/assets/images/ideaverse-explore.jpg" width="1600" height="900" alt="">
    <figcaption>Explore an infinite universe of ideas.</figcaption>
  </figure>
  <p>This is where I thrive. Taking concepts, early inklings of ideas, tapping into a sense of what the team wants, and conceptualising a crystal clear vision of that product.</p>
  <figure>
    <img src="/assets/images/ideaverse-collect-ideas.jpg" width="1600" height="900" alt="">
    <figcaption>Collect inspiration to form your creative vision.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/ideaverse-fine-tune.jpg" width="1600" height="1000" alt="">
    <figcaption>Fine-tune your creative vision.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/ideaverse-time-machine-feature.jpg" width="1600" height="1000" alt="">
    <figcaption>Git for creatives: an advanced feature to collaborate with team mates, and step back to an earlier iteration of the creative vision.</figcaption>
  </figure>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/ideaverse-prototype.mp4" width="1920" height="960" controls poster="/assets/images/ideaverse-prototype-poster.jpg" autoplay muted loop></video>
    <figcaption>Clicking through the prototype. Exploring ideas, tweaking the creative direction, and exploring different features of the <abbr title="minimal viable product">MVP</abbr>.</figcaption>
  </figure>
  <p>We blocked out two weeks of time to get this work done. The first week being about team collaboration and workshop facilitation, and in the second week I brought the idea to life with mockups and a clickable prototype. The prototype helped reassure investors, clarify requirements for developers, and motivate the entire team about the road ahead.</p>
  {% include portfolioPageFooter.html %}
</div>
