---
layout: default
title: "New Alexandria | Portfolio of Damir Kotorić"
description: "Designing an open, peer-reviewed, and accessible platform for commentaries of ancient texts. In collaboration with the Center for Hellenic Studies at Harvard University."
imageSrc: "/assets/images/ideaverse-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>New Alexandria</h1>
      <p>Designing an open, peer-reviewed, and accessible platform for commentaries of ancient texts. In collaboration with the <a href="https://chs.harvard.edu/" target="_blank">Center for Hellenic Studies at Harvard University</a>.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/new-alexandria-cover.jpg" alt="" width="1600" height="900">
    <figcaption>Design concept for a home of academic commentaries.</figcaption>
  </figure>
  <h2>A word on commentaries.</h2>
  <p>For the uninitiated in academic commentaries (as I was before this project), millennia old Ancient Greek and Latin texts are notoriously difficult to understand. Humanities professors study these texts for years, and they publish commentary books where they translate, cite and interpret these texts for us. Commentaries like these have been published in print for centuries.</p>
  <figure>
    <img src="/assets/images/new-alexandria-commentary.jpg" alt="" width="1600" height="960">
    <figcaption>A commentary on Homer's Iliad. This commentary can be read on its own, but the UI can be customised to support side-by-side reading with both the original text and the commentary visible.</figcaption>
  </figure>
  <h2>Translating paper to digital.</h2>
  <p>A drawback to the traditional print publishing method is that it's slow, and costly to update. Therefore, the views that propagate are skewed to the elite few who have access to publishers. My task was to envisage how we could make reading and participating in commentaries accessible to everyone. How do we create a more egalitarian community, based on merit, and welcome all seekers of knowledge, without the whole platform devolving into a YouTube-esque comment thread littered with trolls?</p>
  <figure>
    <img src="/assets/images/new-alexandria-text.jpg" alt="" width="1600" height="960">
    <figcaption>An Ancient Greek text in its original language of writing. From the menu, one can choose different versions of the text, including any available translations.</figcaption>
  </figure>
  <p>We opted for public viewing permissions, and invite-only content creation permissions. At least to start with, we wanted to carefully incubate the right culture before enabling wide access to the publishing tools. This is a <a href="https://www.wired.com/2015/10/brief-history-of-the-demise-of-the-comments-timeline/" target="_blank" rel="noopener">tricky balance to get right</a>, and we wanted to err on the side of caution.</p>
  <figure>
    <img src="/assets/images/new-alexandria-text-commentary.jpg" alt="" width="1600" height="960">
    <figcaption>Split view. Traditionally, students of the humanities would keep a copy of the original text open right next to a copy of a commentary. One would rarely read one without the other, while studying as both are needed to capture the whole message. This split view feature caters to that learning style.</figcaption>
  </figure>
  <p>In collaboration with humanities professors, I helped create an initial vision for this platform, taking inspiration from elegant writing experiences like Medium.com, and the Notes app on iOS. And taking inspiration from great reading experiences like Kindle, and Apple Books.</p>
  <h2>A digital commentary platform.</h2>
  <p>New Alexandria, inspired by <a href="https://en.wikipedia.org/wiki/Library_of_Alexandria" target="_blank" rel="noopener">the Great Library of Alexandria</a>, is a project aiming to make these commentaries accessible to the whole world. A sort of Stack Overflow, or Quora for commentaries on ancient texts.</p>
  <figure>
    <img src="/assets/images/new-alexandria-search.jpg" alt="" width="1600" height="1200" data-no-zoom>
    <figcaption>A search page allowing users to search for commentaries, texts and users.</figcaption>
  </figure>
  <p>New Alexandria was an exploration into the possibilities of digital publishing for academic commentaries, and this was one of many future collaborations with Harvard University professors, including the <a href="/portfolio/giza-ar">prototyping of an AR app for the Giza plateau with Harvard Egyptologysts</a>.</p>
  <p><a href="https://www.figma.com/proto/Fb8pz8xCoxcDsMShlvNaiT/NewAlexandria?node-id=1%3A1530&viewport=527%2C198%2C0.03408873453736305&scaling=min-zoom" target="_blank" rel="noopener">Take the prototype for a test drive.</a></p>
  <hr>
  {% include portfolioPageFooter.html %}
</div>
