---
layout: default
title: "Orpheus | Portfolio of Damir Kotorić"
description: "Leading product strategy and design on a new digital archiving tool for a humanities startup in Cambridge, USA."
imageSrc: "/assets/images/orpheus-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Orpheus <a href="https://orphe.us/" target="_blank" rel="noopener" class="heroTitleLink"><span>{% include /svg/icon-link.svg %}</span></a></h1>
      <p>Leading product strategy and design on a new digital archiving tool for a humanities startup in Cambridge, USA.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/orpheus-cover.jpg" alt="" width="1600" height="900">
  </figure>
  <p><a href="https://orphe.us/" target="_blank" rel="noopener">Orpheus</a> is a digital collection tool built by Cambridge startup <a href="https://archimedes.digital/" target="_blank">Archimedes Digital</a>, and aimed at <a href="https://www.harvard.edu/" target="_blank" rel="noopener">Harvard University</a>, <a href="http://www.mit.edu/" target="_blank">MIT</a>, and humanities professors and archivists around the world.</p>
  <p>My role was a mix of product design, product management and UI development. My title was Lead Design Strategist, but my tasks includes everything from strategy, user and market research, design, front-end development, quality analysis, and design sprint facilitation.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/orpheus.mp4" width="1000" height="625" controls muted autoplay loop></video>
    <figcaption>A digital collection of <a href="https://en.wikipedia.org/wiki/Villa_Romana_del_Casale" target="_blank" rel="noopener">Villa Romana del Casale</a> on an early prototype release of Orpheus.</figcaption>
  </figure>
  <h2>Meet the target audience.</h2>
  <p>Our primary target were seasoned archivists and humanities professors that wanted to digitise their collections, and make them available for viewing online. But, we also wanted to support hobbyists.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <div class="iframeMedia">
            <iframe width="1000" height="562" src="https://www.youtube.com/embed/rOc2kWExEZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="galleryItem">
          <div class="iframeMedia">
            <iframe width="1000" height="562" src="https://www.youtube.com/embed/yKNbhMCB_3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="galleryItem">
          <div class="iframeMedia">
            <iframe width="1000" height="562" src="https://www.youtube.com/embed/ZI0dbx2qiHg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <figcaption>The target audience for Orpheus — the Tech-Savvy Archivist, the Hardline Traditionalist and the Hobbyist Collector.</figcaption>
  </figure>
  <p>Our first beta users were composed of tech-savvy archivists and hobbyists, and our plan was to build a compelling enough product to convert the hardline print-only traditionalists as well.</p>
  <p>The tool was to support advanced features like selection of desired metadata standards for data storage, but never at a great cost to accessibility. We wanted to make archiving accessible and enjoyable for everyone.</p>
  <figure class="-full">
    <img src="/assets/images/orpheus-showcase.jpg" alt="" width="1600" height="900">
    <figcaption>One universal design system for XR, web, mobile, and wearables.</figcaption>
  </figure>
  <h2><a href="/services/design-sprint-facilitation">Remote design sprint workshops</a> lighting the product path ahead.</h2>
  <p>Early on, I helped the team realign their strategy. The product initially suffered from scope creep and a fragmented user experience. My job was to clarify what we're building exactly, and thereby reel in the feature list and create a more standardised user experience.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/orpheus-miro.mp4" width="1000" height="625" controls muted></video>
    <figcaption>A look at the result of a series of design sprint workshops. <a href="https://miro.com/app/board/o9J_kyakl3o=/" target="_blank" rel="noopener">See the board.</a></figcaption>
  </figure>
  <p>A <a href="https://medium.com/@steve_mullen/an-introduction-to-lean-canvas-5c17c469d3e0" target="_blank" rel="noopener">lean canvas</a> workshop helped clarify the business goals and limitations that we're designing within. Next, we narrowed down on our target audience, and collaborated on an <a href="https://miro.com/app/board/o9J_kyakl3o=/?moveToWidget=3074457346483907950&cot=13" target="_blank" rel="noopener">inspiration board</a> to get the product ideas out of our heads and onto a digital whiteboard.</p>
  <figure class="-full">
    <img src="/assets/images/orpheus-inspiration-board.jpg" alt="" width="1600" height="900">
    <figcaption>The <a href="https://miro.com/app/board/o9J_kyakl3o=/?moveToWidget=3074457346483907950&cot=13" target="_blank" rel="noopener">inspiration board</a> is an essential exercise I do as part of every new project. It helps the team share ideas and sync on the high-level direction we want to pursue.</figcaption>
  </figure>
  <p>The design sprint workshops here were done with a distributed team of six across different locations and time zones, with me doing the product analysis and user research ahead of time.</p>
  <h2>One design system to rule all platforms.</h2>
  <p>Orpheus is bringing digital collections and exhibitions to any device. I kept vigilant about creating a simple, minimalist, no-nonsense design aesthetic, even as the product requirements kept piling in, because we were trying to grow the product and cater to an increasing request for more features. I adopted the philosophy that Orpheus should be like an art gallery. The UI, like the exhibition space in an art gallery, recedes into the background, <a href="https://www.fastcompany.com/3054090/why-content-reigns-supreme-in-ux-design" target="_blank" rel="noopener">allowing the content to be king</a>.</p>
  <figure>
    <img src="/assets/images/orpheus-ui-library.jpg" alt="" width="1600" height="900">
    <figcaption>Together with my web dev colleagues, I created the <a href="http://storybook.orphe.us/" target="_blank">Orpheus UI library</a> using <a href="https://storybook.js.org/" target="_blank" rel="noopener">Storybook.js</a>. This was the foundation for a universal cross-platform design system.</figcaption>
  </figure>
  <p>In hindsight, this extreme simplicity is what made the design system a success. No matter the use case or platform, by erring on the side of simplicity, this made for an easy-to-navigate user experience <em>and</em> a pragmatic solution to implement.</p>
  <h3>Coding the UI in React.</h3>
  <p>Together with my developer colleagues, I helped code the UI in React.js. This made it easier for me to pixel-perfect the UI without having to nag the developers about every small CSS-related adjustment. This is when I got a feel for the strengths and weaknesses of a single page application framework like React.</p>
  <h3>Moving the public-facing site away from React.</h3>
  <p>When I came onboard, both the website landing pages, and the core app ran on the same React.js codebase. This made for a <em>very</em> slow load. I spearheaded the move to a static site for all public-facing pages. The result was a remarkable performance improvement. On a fast connection we're talking a decrease in loading time from 10+ seconds, to 2 seconds — critical for a new product that needs to make a solid first impression.</p>
  <figure>
    <img src="/assets/images/orpheus-material-figma.jpg" alt="" width="1600" height="900">
    <figcaption>A customised Material Design starter kit.</figcaption>
  </figure>
  <h3>Material design under the hood.</h3>
  <p>Most startups, including this one, don't have the budget for designers to create uniquely bespoke design systems from a blank canvas. We need a good enough solution, as soon as possible. That's why in the majority of cases I'll opt for a <a href="https://www.figma.com/resources/assets/material-design-themeing-ui-kit/" target="_blank" rel="noopener">Material Design template</a>, which I then customise — and by that I mean that I remove that <a href="https://material-components.github.io/material-components-web-catalog/#/component/ripple" target="_blank" rel="noopener">awful ripple touch effect</a>, and some other not-so-nice-to-haves. Selective customisation is needed so that the end product doesn't look "Googley", but overall Material Design is a solid design language to start with, and can be customised for any use case.</p>
  <h2>Cross-cultural design for an international audience.</h2>
  <p>We aimed to build a digital collection tool for all of the world's cultures. This means <a href="https://medium.com/dropbox-design/design-for-internationalization-24c12ea6b38f" target="_blank" rel="noopener">following internationalisation best practices</a>, and being mindful about choosing the right typography that can support the widest possible number of languages.</p>
  <figure class="-full">
    <img src="/assets/images/orpheus-multilingual.jpg" alt="" width="1600" height="1200">
    <figcaption>A multilingual publishing tool that supports various writing systems like Latin, the Greek alphabet, and Arabic. Designed to support both left-to-right (English) and right-to-left (Arabic) languages.</figcaption>
  </figure>
  <p>After weighing the pros and cons of different type setups, I ended up choosing Noto Sans as the typeface of choice. I considered using system fonts initially, but even system fonts don't support a lot of minority scripts. In that regard, one typeface stood above all others — <a href="https://www.google.com/get/noto/" target="_blank" rel="noopener">Noto</a>.</p>
  <figure class="-contain">
    <div class="iframeMedia">
      <iframe width="1000" height="562" src="https://www.youtube.com/embed/16_NYHUZ1kM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <figcaption>Say what you want about Google, but their <a href="https://www.google.com/get/noto/" target="_blank" rel="noopener">Noto</a> typeface project is a great feat in humanistic design. A typeface that supports over 500 languages. Simple, elegant and available in both serif and sans serif — the perfect choice for Orpheus.</figcaption>
  </figure>
  <h2>Experiments in VR.</h2>
  <p>With Orpheus, we wanted to create a home for digital exhibitions, and to allow viewers to not just experience the archive in 2D, but also in the most immersive way possible.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/orpheus-vr.mp4" poster="/assets/images/orpheus-vr-prototype.jpg" width="1920" height="1080" controls muted></video>
    <figcaption>VR prototype put together using Figma mockups and <a href="https://www.vr.page/" target="_blank" rel="noopener">Vrooms</a>.</figcaption>
  </figure>
  <p>Rapid prototyping tools for VR are still in their infancy, but I managed to put the above prototype together using a combination of Figma and <a href="https://www.vr.page/" target="_blank" rel="noopener">Vrooms</a>. This allowed us to quickly and cheaply experiment with the VR experience, before committing to the expensive and time-consuming build of a VR app (even more so than web development).</p>
  <h2>Growing an ambitious startup.</h2>
  <p>The trick with building Orpheus was to cater as many possible use cases as possible without sinking into feature creep, and without overspecialising the product to one particular domain — easier said than done! Like Medium.com, we wanted to provide the content platform, and allow no restrictions on the type of archives that are created. Archaeological archives, to personal collections, historic events, you name it.</p>
  <h3>Red Monastery Archive</h3>
  <p><a href="https://my.matterport.com/show/?m=Yyw1F5eGxxZ&mls=1&fbclid=IwAR16xl2vY06Q2WxJ4dT3oiqR8CE-GGHIWIsD6tmtIUDR2Md0JXgJwOzKr70" target="_blank" rel="noopener">Laser scan</a> and digital preservation of <a href="https://en.wikipedia.org/wiki/Red_Monastery" target="_blank" rel="noopener">Egypt's Red Monastery</a>, including a look at the restoration work that has been done to preserve it.</p>
  <figure>
    <img src="/assets/images/orpheus-red-monastery.jpg" alt="" width="3200" height="11320" data-no-zoom>
  </figure>
  <hr>
  <h3>Noam Chomsky Personal Archives</h3>
  <p>An archive for one of the Greats of our time.</p>
  <figure>
    <img src="/assets/images/orpheus-chomsky.jpg" alt="" width="3200" height="4860" data-no-zoom>
  </figure>
  <hr>
  <h3><a href="https://beyondwords.orphe.us/" target="_blank">Beyond Words Digital Exhibition</a></h3>
  <p>Centuries old manuscripts.</p>
  <figure>
    <img src="/assets/images/orpheus-beyond-words.jpg" alt="" width="2880" height="1800" data-no-zoom>
  </figure>
  <p>... and others like <a href="https://charlie-archive.orphe.us/" target="_blank" rel="noopener">The Charlie Archive at the Harvard Library</a> and the <a href="https://journal.oraltradition.org/" target="_blank" rel="noopener">Oral Tradition archive</a>.</p>
  <p>The work done on Orpheus helped us lay the foundations that would eventually become <a href="/portfolio/new-alexandria">New Alexandria</a>,  <a href="/portfolio/tripureshwor">Tripureshwor</a>, and Giza virtual tours.</p>
  <hr>
  {% include portfolioPageFooter.html %}
</div>
