---
layout: default
title: "Parthenon AR App | Portfolio of Damir Kotorić"
description: "Conceptual design for an AR app guiding visitors on a tour through the past at the Acropolis of Athens, Greece."
imageSrc: "/assets/images/parthenon-ar-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/portfolio">Portfolio{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Parthenon AR App</h1>
      <p>Conceptual design for an AR app guiding visitors on a tour through the past at the Acropolis of Athens, Greece.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/parthenon-ar.jpg" alt="" width="1600" height="900">
    <figcaption>A window into the past: Pointing your phone at The Parthenon would use object recognition to overlay a 3D model, depicting what the site looked like millennia ago.</figcaption>
  </figure>
  <p>I was tasked with creating a set of conceptual designs for <a href="https://twitter.com/parthenonint?lang=en" target="_blank" rel="noopener">IARPS</a>, a cultural institution in Greece. The point here was to visually illustrate the "wow" factor that AR can play in enhancing the visitor experience at cultural sites. And what a cultural site to design for — The Acropolis of Athens.</p>
  <figure>
    <img src="/assets/images/parthenon-ar-marbles.jpg" alt="" width="2000" height="1125">
    <figcaption>Annotation bubbles would appear in certain areas of interest.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/parthenon-ar-model.jpg" alt="" width="2000" height="1125">
    <figcaption>Tapping on an annotation bubble would open a 3D model of the item of interest. The user can then zoom in to see the details and rotate the model on their phone.</figcaption>
  </figure>
  
  <h2>Cultural repatriation</h2>
  <p>I couldn't believe it when I heard the story of <a href="https://www.nationalgeographic.com/history/magazine/2017/03-04/parthenon-sculptures-british-museum-controversy/" target="_blank" rel="noopener">how the English <strike>stole</strike> "saved" The Parthenon's marbles</a>, never to return them (they still sit in the British Museum in London).</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-petition-1.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-petition-2.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-petition-3.jpg" width="1920" height="1080" alt="">
        </div>
      </div>
    </div>
  </figure>
  <p>The above flow illustrates how such an app could be used to gather awareness and support for the return of what is rightfully owned by the Greek people.</p>
  <hr>
  <figure>
    <img src="/assets/images/parthenon-ar-wayfinding.jpg" alt="" width="2000" height="1125">
    <figcaption>Exploring a wayfinding feature to give visitors a structured tour. All the information you'd hear on a tour group, none of the experience of being herded around like a flock of sheep.</figcaption>
  </figure>
  <h2>The Statue of Athena</h2>
  <p>Lost to history, <a href="https://en.wikipedia.org/wiki/Athena_Parthenos" target="_blank" rel="noopener">a statue dedicated to the goddess Athena</a> was towering above people in the interior of the Parthenon. Built with gold and marble, it was a sight to behold.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-athena-1.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-athena-2.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/parthenon-ar-athena-3.jpg" width="1920" height="1080" alt="">
        </div>
      </div>
    </div>
    <figcaption>Illustrating a few different concepts for the "AR resurrection" of the statue.</figcaption>
  </figure>
  <p>This conceptual work was used to illustrate the value that AR could bring to cultural sites. This work did not result in an app build, unfortunately, but I imagine a similar app must be in progress by now.</p>
  {% include portfolioPageFooter.html %}
</div>
