<a class="article" href="{{ include.url }}" target="_blank">
  <div class="articleImage">
    <img src="{{ include.imageUrl }}" alt="">
  </div>
  <div class="articleContent">
    <h2 class="articleTitle">{{ include.title }}</h2>
    <div class="articleSubtitle">{{ include.subtitle }}</div>
    <div class="articleLogoLight">
      <img src="{{ include.logoUrlLight }}" alt="">
    </div>
    <div class="articleLogoDark">
      <img src="{{ include.logoUrlDark }}" alt="">
    </div>
  </div>
</a>
