<div class="colourScheme">
  <div class="colourSchemeRow colourSchemePrimary">
    <div class="colourSchemeBox colourSchemePrimary50"></div>
    <div class="colourSchemeBox colourSchemePrimary100"></div>
    <div class="colourSchemeBox colourSchemePrimary200"></div>
    <div class="colourSchemeBox colourSchemePrimary300"></div>
    <div class="colourSchemeBox colourSchemePrimary400"></div>
    <div class="colourSchemeBox colourSchemePrimary500"></div>
    <div class="colourSchemeBox colourSchemePrimary600"></div>
    <div class="colourSchemeBox colourSchemePrimary700"></div>
    <div class="colourSchemeBox colourSchemePrimary800"></div>
    <div class="colourSchemeBox colourSchemePrimary900"></div>
  </div>
  <div class="colourSchemeRow colourSchemeSecondary">
    <div class="colourSchemeBox colourSchemeSecondary50"></div>
    <div class="colourSchemeBox colourSchemeSecondary100"></div>
    <div class="colourSchemeBox colourSchemeSecondary200"></div>
    <div class="colourSchemeBox colourSchemeSecondary300"></div>
    <div class="colourSchemeBox colourSchemeSecondary400"></div>
    <div class="colourSchemeBox colourSchemeSecondary500"></div>
    <div class="colourSchemeBox colourSchemeSecondary600"></div>
    <div class="colourSchemeBox colourSchemeSecondary700"></div>
    <div class="colourSchemeBox colourSchemeSecondary800"></div>
    <div class="colourSchemeBox colourSchemeSecondary900"></div>
  </div>
  <div class="colourSchemeRow colourSchemeGrey">
    <div class="colourSchemeBox colourSchemeGrey50"></div>
    <div class="colourSchemeBox colourSchemeGrey100"></div>
    <div class="colourSchemeBox colourSchemeGrey200"></div>
    <div class="colourSchemeBox colourSchemeGrey300"></div>
    <div class="colourSchemeBox colourSchemeGrey400"></div>
    <div class="colourSchemeBox colourSchemeGrey500"></div>
    <div class="colourSchemeBox colourSchemeGrey600"></div>
    <div class="colourSchemeBox colourSchemeGrey700"></div>
    <div class="colourSchemeBox colourSchemeGrey800"></div>
    <div class="colourSchemeBox colourSchemeGrey900"></div>
  </div>
</div>
