<div class="organisations">
  <div>
    <h2 class="organisationsTitle">Organisations and Clients</h2>
    <p>I've partnered with startups, corporations, educational and government organisations worldwide, where I lead design efforts on web, mobile, eCommerce, AR, open data, and machine learning projects.</p>
    <div class="organisationsLogos">
      <div id="organisationsLogosLogoArce" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-arce.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-arce-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoArchimedes" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-archimedes.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-archimedes-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoBooking" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-booking.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-booking-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoEnvato" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-envato.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-envato-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoGA" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-ga.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-ga-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoHarvard" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-harvard.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-harvard-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoHarvardlibrary" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-harvardlibrary.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-harvardlibrary-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoNivea" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-nivea.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-nivea-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoNSW" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-nsw.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-nsw-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoQG" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-qg.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-qg-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoTNW" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-tnw.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-tnw-light.svg" alt="">
      </div>
      <div id="organisationsLogosLogoZheijang" class="organisationsLogosLogo">
        <img class="organisationsLogosLogoDark" src="/assets/images/logo-zhejiang.svg" alt="">
        <img class="organisationsLogosLogoLight" src="/assets/images/logo-zhejiang-light.svg" alt="">
      </div>
    </div>
  </div>
</div>
