<div class="prompt">
  <div>
    <h2>Become a Client.</h2>
    <p>I work remotely with clients from all over the world. I seek partnerships with clients that value quality and are backed by the funding needed to create a winning product. <a href="https://www.linkedin.com/in/damirkotoric/" target="_blank" rel="noopener">Apply to become a client.</a></p>
    <!-- <p>I'm predominantly located between the UTC+7 to UTC+10 timezones, and I work remotely with clients from all over the world. <a href="https://www.linkedin.com/in/damirkotoric/" target="_blank" rel="noopener">Apply to become a client.</a></p> -->
  </div>
</div>
