// @import "utilities/animation"
@import "utilities/settings"
@import "utilities/helper"
@import "utilities/lightbox"
@import "utilities/reset"
@import "modules/colourScheme"
@import "modules/button"
@import "modules/card"
@import "modules/cards"
@import "modules/companies"
@import "modules/disciplines"
@import "modules/header"
@import "modules/hero"
@import "modules/map"
@import "modules/organisations"
@import "modules/portfolio"
@import "modules/prompt"
@import "modules/quote"
@import "modules/quoteSection"
@import "modules/showcase"

*, *:before, *:after
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  background-color: $color_secondary_50
  @media (prefers-color-scheme: dark)
    background-color: $color_grey_800

html
  +body1

body
  &.-menu-opened
    overflow: hidden

h1
  +h1

h2
  +h2

h3
  +h3

h4
  +h4

h5
  +h5

h6
  +h6

p
  +body1
  margin: 15px 0
  @media (min-width: $breakpoint_2)
    margin: 30px 0

  a
    color: $color_grey_700
    transition: color 0.4s
    &:hover
      color: $color_primary_500
    &:active
      color: $color_primary_700
      transition: none

small
  display: block
  font-size: 0.7rem
  line-height: 1.5

aside
  float: right
  margin-bottom: 2rem
  width: 100%
  @media (min-width: $breakpoint_2)
    padding-left: 2rem
    padding-top: 0.3rem
    width: 30%

  > small
    border-top: 1px solid rgba(black, 0.3)
    padding-top: 1rem

abbr
  border-bottom: 1px dotted rgba(black, 0.3)
  text-decoration: none

strong
  font-weight: 700
  a
    font-weight: 700

ul, ol
  +body1
  list-style: none
  margin: 0

ul
  list-style: disc
  margin-left: 1em

em
  font-style: italic

figcaption
  color: lighten(black, 35%)
  font-size: 0.7rem
  line-height: 1.4
  margin-top: 0.5rem

  a
    border-width: 1px
    color: darken($color_grey_500, 5%)
    &:hover
      border-width: 1px
    &:active
      border-width: 2px

blockquote
  @extend .quote

video
  &:focus
    outline: none

br
  line-height: 2rem

hr
  background: $color_grey_100
  border: none
  height: 2px
  margin: 50px auto
  width: 100px

img
  height: auto
  max-width: 100%
