.button
  +body1
  border-radius: 100px
  border-style: solid
  border-width: 3px
  color: $color_primary_500
  display: inline-block
  font-weight: 600
  line-height: 1
  padding: 16px 24px
  position: relative
  text-decoration: none
  transition: all 0.3s
  user-select: none
  white-space: nowrap
  @media (min-width: $breakpoint_2)
    font-weight: 500
  &:hover
    color: $color_primary_400
  &:active
    color: $color_primary_600
    transition: none
  @media (prefers-color-scheme: dark)
    color: $color_primary_200
    &:hover
      color: $color_primary_100
    &:active
      color: $color_primary_300
      transition: none

  &.-text, &.-arrow
    border: none
    border-radius: 0
    &:hover
      background: none
      color: $color_primary_600
    &:active
      background: none
      color: $color_primary_900
      transition: none

  &.-arrow
    +body2
    color: $color_primary_500
    display: inline-block
    padding: 15px 0
    transition: all 0.2s
    @media (prefers-color-scheme: dark)
      color: $color_primary_200
    &:hover
      color: $color_primary_500
      text-decoration: underline
      @media (prefers-color-scheme: dark)
        color: $color_primary_200
    &:active
      color: $color_primary_400
      transition: none
      @media (prefers-color-scheme: dark)
        color: $color_primary_300
      svg
        fill: $color_primary_400
        @media (prefers-color-scheme: dark)
          fill: $color_primary_300
    svg
      fill: $color_primary_500
      height: 12px
      margin-left: 8px
      position: relative
      top: 1px
      @media (min-width: $breakpoint_2)
        height: 16px
      @media (prefers-color-scheme: dark)
        fill: $color_primary_200

  &.-dark
    border-color: $color_primary_300
    color: $color_primary_300
    > svg
      fill: $color_primary_300

  &.-small
    +body2
    border-width: 2px
    line-height: 1
    padding: 14px 18px

  &.-greyscale
    color: $color_grey_100
    &:hover
      color: $color_grey_200
    &:active
      color: white
