.card
  cursor: cover
  text-decoration: none

  h3
    +heading4
    color: $color_grey_700
    margin-bottom: 12px
    @media (prefers-color-scheme: dark)
      color: $color_grey_50
  p
    +body2
    color: $color_grey_500
    font-weight: 500
    margin: 0
    @media (prefers-color-scheme: dark)
      color: $color_grey_300

  &:hover
    h3
      color: $color_grey_800
      @media (prefers-color-scheme: dark)
        color: white

.cardTags
  +caption
  color: $color_grey_500
  list-style: none
  margin: 0
  @media (prefers-color-scheme: dark)
    color: $color_grey_300

  > li
    border: 1px solid $color_grey_500
    border-radius: 100px
    display: inline-block
    margin-bottom: 10px
    margin-right: 6px
    padding: 1px 8px 0
    @media (prefers-color-scheme: dark)
      border-color: $color_grey_300

.cardMedia
  background: $color_secondary_200
  border-radius: 6px
  box-shadow: 0 5px 20px rgba($color_grey_500, 0.4)
  margin-bottom: 16px
  overflow: hidden
  @media (min-width: $breakpoint_1)
    margin-bottom: 26px
  @media (prefers-color-scheme: dark)
    background: $color_grey_700
    box-shadow: 0 5px 20px rgba($color_grey_800, 0.4)
  img
    border-radius: 6px
    display: block
    height: 100%
    object-fit: cover
    width: 100%
  video
    display: block
    height: auto
    width: 100%

.cardButton
  padding-top: 10px !important
