.disciplines
  align-items: stretch
  background: $color_secondary_100
  display: flex
  margin: 0 20px 20px

.disciplinesImage
  padding: 20px 0 20px 20px
  width: 100%
  img
    height: 100%
    max-width: none
    object-fit: cover
    width: 100%

.disciplinesContent
  +containerPage
  max-width: 1000px
  padding: 100px
  
  p
    +h6
    color: $color_grey_500

  strong
    +h6
    color: $color_grey_900

.disciplinesContentTitle
  +overline
