.disciplines
  +container
  > div
    background: $color_secondary_100
    @media (min-width: $breakpoint_1)
      align-items: stretch
      display: flex

.disciplinesImage
  padding: 20px 20px 0
  width: 100%
  @media (min-width: $breakpoint_1)
    padding: 20px 0 20px 0
    width: 40%
  img
    height: 100%
    max-width: none
    object-fit: cover
    object-position: 60% 45%
    width: 100%

.disciplinesContent
  padding: 20px
  @media (min-width: $breakpoint_1)
    padding: 40px
    width: 60%
  @media (min-width: $breakpoint_3)
    padding: 100px
  
  p
    +body2
    color: $color_grey_500

  strong
    color: $color_grey_900

.disciplinesContentTitle
  +overline
