.hero
  overflow: hidden
  position: relative

.heroContent
  +containerPage
  padding: 100px 16px 20px
  position: relative
  z-index: 1
  @media (min-width: $breakpoint_2)
    padding: 300px 150px 50px
  h1
    color: $color_grey_900
    margin-bottom: 20px
    @media (min-width: $breakpoint_2)
      margin-bottom: 40px
  h4
    color: $color_grey_500
    margin-bottom: 40px
    max-width: 900px
    @media (min-width: $breakpoint_2)
      color: $color_grey_600
  strong
    color: $color_grey_800
    display: block
    font-weight: inherit
    margin: 10px 0
    @media (min-width: $breakpoint_2)
      margin: 0
  a
    color: $color_grey_700
  video
    box-shadow: 0 0 4px rgba(black, 0.2)
    height: auto
    max-width: 100%
    width: 960px

#heroIndex
  .heroImage
    background: $color_secondary_200
    display: block
    z-index: 0
    @media (min-width: $breakpoint_2)
      bottom: 20px
      left: 20px
      position: absolute
      right: 20px
      top: 20px
    img
      display: block
      max-height: 300px
      object-fit: cover
      width: 100%
      @media (min-width: $breakpoint_2)
        height: 100%
        max-height: 100%
        max-width: 100%
    &::after
      background: $color_secondary_200
      background: linear-gradient(15deg, rgba($color_secondary_200, 0) 85%, rgba($color_secondary_200, 1) 100%)
      content: ''
      display: block
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 0
      @media (min-width: $breakpoint_2)
        background: linear-gradient(15deg, rgba($color_secondary_200, 1) 0%, rgba($color_secondary_200, 0) 65%, rgba($color_secondary_200, 0) 65%, rgba($color_secondary_200, 1) 100%)
  .heroContent
    padding: 40px 16px 20px
    @media (min-width: $breakpoint_2)
      padding: 55vh 150px 100px
    h1
      color: $color_grey_900
      font-size: 50px
      margin-bottom: 20px
      @media (min-width: $breakpoint_2)
        font-size: 120px
        margin-bottom: 40px

// .heroImage
//   margin-top: 100px
//   img
//     display: block
//     height: auto
//     max-width: 100%

//     img
//       object-fit: cover

// .heroQuote
//   +containerContent
//   margin-bottom: 100px
//   margin-top: 50px
//   @media (min-width: $breakpoint_2)
//     margin-bottom: 150px
//     margin-top: 100px
//   > blockquote
//     margin: 0 auto
//     @media (min-width: $breakpoint_2)
//       padding-right: 50px

// #heroWork, #heroOffering
//   .heroContent
//     padding-bottom: 0
//     @media (min-width: $breakpoint_2)
//       padding-bottom: 0
//   .heroImage
//     +containerPage
//     padding: 0 30px
//     position: relative
//     @media (min-width: $breakpoint_2)
//       padding: 0 80px
//     img
//       display: block
//       width: 100%

// #heroWork
//   .heroContent
//     @media (min-width: $breakpoint_2)
//       max-width: 900px
//   .heroImage
//     margin-top: 0

// #heroOffering
//   .heroImage
//     max-width: 960px
//     @media (max-width: $breakpoint_2)
//       margin-top: 50px

// #heroContact
//   h1
//     margin-bottom: 40px
