.hero
  > div
    padding: 0 16px 20px
    position: relative
    @media (min-width: $breakpoint_2)
      padding: 40px 80px 0

.heroContent
  position: relative
  text-align: center
  z-index: 1
  h1
    +heading2
    color: $color_grey_900
    background-image: linear-gradient(-20deg, $color_grey_900, mix($color_grey_500, $color_primary_500, 90%))
    margin-bottom: 16px
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    @media (prefers-color-scheme: dark)
      color: white
      background-image: linear-gradient(-20deg, $color_grey_300, white)
  p
    +heading5
    color: mix($color_grey_500, $color_primary_500, 90%)
    margin-bottom: 20px
    @media (prefers-color-scheme: dark)
      color: $color_grey_300
    @media (min-width: $breakpoint_1)
      margin: 0 auto 20px
      max-width: 640px
    @media (min-width: $breakpoint_2)
      margin-bottom: 32px
      max-width: 1040px

.heroBack
  display: block
  margin-bottom: 5px

#heroIndex
  border-bottom: 1px solid $color_grey_200
  @media (prefers-color-scheme: dark)
    border-color: $color_grey_800
  @media (min-width: $breakpoint_2)
    border-color: $color_grey_100
    @media (prefers-color-scheme: dark)
      border-bottom-color: $color_grey_700
  > div
    padding: 100px 16px 80px
    @media (min-width: $breakpoint_2)
      padding: 200px 16px 140px
  .heroContent
    h1
      +heading1
    @media (min-width: $breakpoint_2)
      flex-grow: 1
  .heroBackground
    &, &::after, video
      left: 0
      top: 0
      position: absolute
      height: 100%
      width: 100%
    video
      object-fit: cover
  .heroBackground
    z-index: 0
    &:after
      background: rgba(255, 255, 255, 0.80)
      content: ''
      display: block
      @media (prefers-color-scheme: dark)
        background: rgba(0, 0, 0, 0.80)
