.organisations
  background: $color_secondary_100
  text-align: center
  @media (min-width: $breakpoint_2)
    margin: 0 20px 20px
  > div
    +containerPage
    padding: 20px
    @media (min-width: $breakpoint_2)
      padding: 100px 130px

  p
    +h6
    color: $color_grey_500

.organisationsTitle
  +overline
  margin-bottom: 30px

.organisationsLogos
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: center

.organisationsLogosLogo
  padding: 20px
  text-align: center
  width: 50%
  @media (min-width: $breakpoint_2)
    padding: 20px 30px
    width: 25%
  
  img
    max-height: 50px
    max-width: 100%
    width: auto
    @media (min-width: $breakpoint_2)
      max-height: 90px

#organisationsLogosLogoBooking
  img
    @media (min-width: $breakpoint_2)
      max-height: 40px

#organisationsLogosLogoBCG
  img
    max-height: 30px
    @media (min-width: $breakpoint_2)
      max-height: 40px

#organisationsLogosLogoEnvato
  img
    @media (min-width: $breakpoint_2)
      max-height: 35px
