.organisations
  background: $color_secondary_100
  margin: 0 20px 20px
  text-align: center
  > div
    +containerPage
    padding: 100px 130px

  p
    +h6
    color: $color_grey_500

.organisationsTitle
  +overline
  margin-bottom: 30px

.organisationsLogos
  align-items: center
  display: flex
  flex-wrap: wrap

.organisationsLogosLogo
  padding: 20px 30px
  text-align: center
  width: 20%
  
  img
    max-height: 80px
    max-width: 100%
    width: auto

#organisationsLogosLogoBooking
  img
    max-height: 40px

#organisationsLogosLogoBCG
  img
    max-height: 40px

#organisationsLogosLogoEnvato
  img
    max-height: 35px
