.organisations
  +container
  margin-bottom: 20px
  @media (min-width: $breakpoint_2)
    margin-bottom: 0
  > div
    background: white
    padding-bottom: 20px
    padding-top: 40px
    @media (prefers-color-scheme: dark)
      background-color: $color_grey_700
    @media (min-width: $breakpoint_2)
      padding: 80px 100px

  p
    +body2
    color: $color_grey_500
    @media (prefers-color-scheme: dark)
      color: $color_grey_300

.organisationsTitle
  +overline
  margin-bottom: 10px
  @media (min-width: $breakpoint_2)
    margin-bottom: 30px

.organisationsLogos
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: center

.organisationsLogosLogo
  padding: 20px 40px 20px 0
  width: 50%
  @media (min-width: $breakpoint_1)
    padding: 20px 80px 20px 0
    width: 25%
  @media (min-width: $breakpoint_2)
    padding: 20px 100px 20px 0
    
  img
    max-height: 50px
    max-width: 100%
    width: auto
    @media (min-width: $breakpoint_1)
      max-height: 70px
    @media (min-width: $breakpoint_2)
      max-height: 90px

.organisationsLogosLogoDark
  display: block
  @media (prefers-color-scheme: dark)
    display: none

.organisationsLogosLogoLight
  display: none
  @media (prefers-color-scheme: dark)
    display: block

#organisationsLogosLogoBooking
  img
    @media (min-width: $breakpoint_2)
      max-height: 40px

#organisationsLogosLogoBCG
  img
    max-height: 30px
    @media (min-width: $breakpoint_2)
      max-height: 40px

#organisationsLogosLogoEnvato
  img
    max-height: 30px
    @media (min-width: $breakpoint_2)
      max-height: 35px
