.portfolio
  @media (min-width: $breakpoint_2)
    margin: 0 20px 20px
  > div
    +container
    background-color: $color_secondary_100
    padding: 40px 20px
    @media (min-width: $breakpoint_2)
      padding: 50px 130px

.portfolioItem
  display: block
  text-decoration: none
  width: 50%
  &:hover
    h2
      text-decoration: underline
  img
    border-radius: 4px
  h2
    +h4
    color: $color_primary_500
    margin-top: 20px
  p
    +h6
    margin-top: 10px
