.prompt
  margin: 0 20px 20px
  > div
    +containerPage
    padding: 100px 130px 200px

  h6, p, strong
    +h4
    color: $color_grey_500
    max-width: 900px
  
  a
    color: $color_primary_500

  strong
    color: $color_grey_900
