.prompt
  +container
  > div
    margin-bottom: 180px
    margin-top: 40px
    padding-bottom: 20px
    padding-top: 20px
    @media (min-width: $breakpoint_2)
      padding: 20px 80px
    @media (min-width: $breakpoint_3)
      padding: 100px 80px

  h2
    +h4
    @media (prefers-color-scheme: dark)
      color: $color_grey_50

  p
    +h5
    color: $color_grey_500
    max-width: 840px
    @media (prefers-color-scheme: dark)
      color: $color_grey_300
  
  a
    color: $color_primary_500
    @media (prefers-color-scheme: dark)
      color: $color_primary_200
    &:hover
      color: $color_primary_700
      @media (prefers-color-scheme: dark)
        color: $color_primary_300
    &:active
      color: $color_primary_900
      transition: none
      @media (prefers-color-scheme: dark)
        color: $color_primary_400

  strong
    color: $color_grey_900
