.quote
  +body2
  padding-top: 37px
  position: relative
  border: none
  @media (min-width: $breakpoint_2)
    transform: translateX(0)
  @media (min-width: $breakpoint_1)
    padding-top: 45px

  &.-large
    padding-top: 45px
    max-width: 860px
    @media (min-width: $breakpoint_2)
      padding-left: 120px
      padding-top: 15px
    div
      +heading4

.quoteIcon
  display: block
  left: 0
  opacity: 0.7
  position: absolute
  top: 0
  margin-left: -2px
  opacity: 1
  @media (min-width: $breakpoint_2)
    margin-left: 0
  svg
    width: 40px
    height: 40px
    @media (min-width: $breakpoint_2)
      height: 70px
      width: 80px
    & > path
      fill: $color_grey_300
      @media (prefers-color-scheme: dark)
        fill: $color_grey_600

.quoteText
  +heading4
  background-color: $color_grey_600
  /* Create the gradient. */
  background-image: linear-gradient(-20deg, $color_grey_600, mix($color_primary_500, $color_grey_600, 30%))
  /* Set the background size and repeat properties. */
  background-size: 100%
  background-repeat: repeat
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -moz-background-clip: text
  -moz-text-fill-color: transparent
  color: $color_grey_600
  display: block
  margin-top: 10px
  @media (prefers-color-scheme: dark)
    color: $color_grey_200

.quoteAuthor
  align-items: center
  display: flex
  margin-top: 20px
  @media (min-width: $breakpoint_2)
    margin-top: 30px

.quoteAuthorImage
  display: block
  margin-right: 15px
  @media (min-width: $breakpoint_2)
    margin-right: 25px
  &:active
    img
      border-color: $color_primary_400
      transition: none
      @media (prefers-color-scheme: dark)
        border-color: $color_primary_300
  img
    border: 4px solid $color_primary_500
    border-radius: 50%
    display: block
    height: 70px
    max-width: none
    transition: all 0.2s
    width: 70px
    @media (prefers-color-scheme: dark)
      border-color: $color_primary_200
    @media (min-width: $breakpoint_2)
      height: 100px
      width: 100px

.quoteAuthorContent
  a
    +body2
    border-bottom: none
    color: $color_primary_500
    display: block
    font-weight: 700
    margin-bottom: 5px
    text-decoration: none
    transition: all 0.2s
    @media (prefers-color-scheme: dark)
      color: $color_primary_200
    &:hover
      text-decoration: underline
    &:active
      color: $color_primary_600
      transition: none
      @media (prefers-color-scheme: dark)
        color: $color_primary_400
  span
    +caption
    color: $color_grey_600
    display: block
    font-style: normal
    line-height: 1.3
    @media (prefers-color-scheme: dark)
      color: $color_grey_400
