.showcase
  background: $color_secondary_100
  margin: 0 20px 20px
  > div
    +containerPage
    padding: 100px 130px

.showcaseTitle
  +overline
  margin-bottom: 50px

.showcaseCards
  display: flex
  flex-wrap: wrap

.showcaseCardsCard
  flex: 1 0 auto
  height: 380px
  margin-bottom: 20px
  overflow: hidden
  // Row 1
  &:nth-child(1)
    width: 40%
    @media (min-width: $breakpoint_2)
      padding-right: 20px
  &:nth-child(2)
    width: 60%
  // Row 2
  &:nth-child(3)
    height: 320px
    width: 60%
    @media (min-width: $breakpoint_2)
      padding-right: 20px
  &:nth-child(4)
    height: 320px
    width: 40%
  // Row 3
  &:nth-child(5)
    height: 560px
    width: 50%
    @media (min-width: $breakpoint_2)
      padding-right: 20px
  &:nth-child(6)
    height: 560px
    width: 50%
  // Row 4
  &:nth-child(7)
    height: 320px
    width: 60%
    @media (min-width: $breakpoint_2)
      padding-right: 20px
  &:nth-child(8)
    height: 320px
    width: 40%
  // Row 5
  &:nth-child(9)
    height: 400px
    width: 100%
  // Row 6
  &:nth-child(10)
    height: 320px
    width: 40%
    @media (min-width: $breakpoint_2)
      padding-right: 20px
  &:nth-child(11)
    height: 320px
    width: 60%
  img
    border: 1px solid $color_secondary_200
    border-radius: 4px
    height: 100%
    object-fit: cover
    width: 100%

.showcaseMore
  padding-top: 40px
  text-align: center
  a
    color: $color_primary_500
    font-weight: 600
    text-decoration: none
    &:hover
      color: $color_primary_600
      svg
        fill: $color_primary_600
        transform: translateX(6px)
    &:active
      color: $color_primary_900
      svg
        fill: $color_primary_900
  svg
    fill: $color_primary_500
    height: 16px
    margin-left: 10px
    transition: transform 0.2s ease-out
