.showcase
  +container
  > div
    background: $color_secondary_50
    padding-bottom: 40px
    padding-top: 40px
    @media (prefers-color-scheme: dark)
      background-color: $color_grey_700
    @media (min-width: $breakpoint_2)
      padding: 60px 80px 80px

.showcaseTitle
  +overline
  margin-bottom: 20px
  @media (min-width: $breakpoint_2)
    margin-bottom: 20px

.showcaseCards
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.showcaseCardsCard
  min-height: 100px
  margin: 0 0 40px
  width: 100%
  @media (min-width: $breakpoint_1)
    margin: 0 -10px 40px
    padding: 10px
    width: 50%
  @media (min-width: $breakpoint_3)
    margin: 0 -20px 40px
    padding: 20px

.showcaseMore
  text-align: center
  @media (min-width: $breakpoint_2)
    padding-top: 30px
