---
layout: default
title: "Design Sprint Facilitation | Services"
description: "Helping teams innovate by validating product ideas in record time."
imageSrc: "/assets/images/remote-design-sprints.jpg"
imageWidth: 1500
imageHeight: 500
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/services">Services{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Design Sprint Facilitation</h1>
      <p>Helping teams innovate by validating product ideas in record time.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/design-sprint-facilitation-cover.jpg" alt="" width="1600" height="900">
  </figure>
  <p>I've facilitated design thinking workshops with professors at Harvard University, teams at Booking.com, and startups around the world.</p>
  <h2>My Design Sprint babies</h2>
  <p>The following are digital products that were born as a result of a design workshops I helped facilitate:</p>
  <div class="postCards">
    <div class="postCard">
      {% include projectCards/envato.html %}
    </div>
    <div class="postCard">
      {% include projectCards/bookingPayments.html %}
    </div>
    <div class="postCard">
      {% include projectCards/ideaverse.html %}
    </div>
    <div class="postCard">
      {% include projectCards/giza-ar.html %}
    </div>
    <div class="postCard">
      {% include projectCards/chatbot-app.html %}
    </div>
  </div>
  <h2>Derisk</h2>
  <p>Design sprints help innovate, not only faster, but better. Typically people invest money into designing, building, launching and marketing a product, and cross their fingers that it'll achieve success on the market. With design sprints, we throw that model on its head.</p>
  <figure class="-contain">
    <img src="/assets/images/lean-thinking.jpg" alt="" width="800" height="600">
    <figcaption>Design sprints are a fast and cost-effective way to innovate, and test new product ideas.</figcaption>
  </figure>
  <p>We go straight from design to validation. We explore many different ideas, and narrow in on one idea that I prototype and test with your target audience. We test if our idea holds water <em>before</em> investing in the full build, launch and marketing. <strong>We cannot eliminate risk in innovation, but we can reduce risk significantly by following the design sprint process.</strong></p>
  <h2>Remote design sprints</h2>
  <p>Design sprints can be performed in-house — with participants gathering in the same room, or remotely via video call and using a "whiteboard in the cloud" tool like <a href="https://miro.com/" target="_blank" rel="noopener">Miro</a>.</p>
  <figure>
    <img src="/assets/images/ideaverse-design-sprint-output-day-1.jpg" width="4000" height="2667" alt="">
    <figcaption>Design Sprint Day 1: strategy, and inspiration exercises. Defining the playing field, and the requirements. Exploring what existing solutions are out there already, and handpicking the ideas that we want to be influenced by when it comes to ideating on our solution.</figcaption>
  </figure>
  <figure>
    <img src="/assets/images/ideaverse-design-sprint-output-day-2.jpg" width="4000" height="2569" alt="">
    <figcaption>Design Sprint Day 2: ideation, lots and lots of ideation. We explored over a dozen different ideas, voted on what we liked, and came to a consensus on what single idea we want to pursue.</figcaption>
  </figure>
  <p>For Geelong Design Week 2020 I presented a webinar titled <a href="https://medium.com/@damirkotoric/how-to-run-remote-design-sprints-6145b1d512a9">How to run remote Design Sprints</a>. I've facilitated over a dozen remote design sprints with various organisations from startups to Harvard University and Booking.com.</p>
  <h2>To sprint or not to sprint</h2>
  <p>Not every project needs a full design sprint. In fact, I customise the design process to every project. The ideal candidates for a design sprint are projects that require an aspect of innovation, and projects that are large and high stakes projects that carry a lot of risk. Full design sprints would likely be overkill on small projects.</p>
  <h2>1-2 week turnaround</h2>
  <p>A full design sprint typically takes around a week to complete on small teams with few decision makers, and about two weeks on large teams with many stakeholders and decision makers. The design sprints I've facilitated usually involve both synchronous and asynchronous work.</p>
  <h4>Synchronous</h4>
  <p>This is where meet via video call, and I run you through a number of exercises in order to define a goal for your project, your target audience. We define the features and desired creative direction for your project.</p>
  <h4>Asynchronous</h4>
  <p>I take the direction we agreed on <a href="/services/design">design mockups and create a clickable prototype</a> which showcases exactly how your future product will look and how it'll work. I'll share progress daily. We'll discuss the design direction and tweak the prototype one or two times until it's just right. 👌🏼</p>
  <h4>Testing</h4>
  <p>A wise move is to test the prototype on target users before we move to the build phase. It's far quicker and cheaper to pivot during the design phase than during the build phase. User testing allows us to identify any problem points with our prototype and tweak before commencing the build.</p>
  <figure class="-contain">
    <video src="https://storage.googleapis.com/damirkotoric/user-testing.mp4" width="1920" height="1080" controls poster="/assets/images/user-testing-poster.jpg" autoplay muted loop playsinline></video>
    <figcaption>A small selection of insights gained from testing a protoype for an <a href="/work/ai-design-generator">AI design tool</a> on a target audience.</figcaption>
  </figure>
  <hr>
  {% include quotes/chrisThelwell.html %}
  <br>
  <p><a href="mailto:damirkotoric@gmail.com?subject=Would like to talk to you about design sprint facilitation&body=Hi Damir," target="_blank">Email me</a> if you'd like me to facilitate a design sprint for your team. I'll guide you through the whole process and the end result will be a high-fidelity clickable prototype illuminating the road ahead for the build of your product.</p>
  {% include servicePageFooter.html %}
</div>
