---
layout: default
title: "eCommerce and Conversion Rate Optimisation | Services"
description: "My record is increasing conversion by tens of millions of Euros per year at Booking.com."
imageSrc: "/assets/images/booking-homepage-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/services">Services{% include /svg/icon-chevron-right.svg %}</a>
      <h1>eCommerce and Conversion Rate Optimisation</h1>
      <p>My record is increasing conversion by tens of millions of Euros per year at Booking.com.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/booking-homepage-cover.jpg" alt="" width="1600" height="900">
    <figcaption>The Booking.com home page, receiving tens of millions of visitors per day. My job was to improve the user experience and help increase conversion.</figcaption>
  </figure>
  <p></p>
  <h2>Designed to sell</h2>
  <p>"No nonsense simplicity" is my design philosophy. During my time at Booking.com, we A/B tested all changes and additions to the world's biggest accommodation site. Time and time again, it was simplicity that made for the most successful iterations. Unfortunately, due to its financially sensitive nature, my work at Booking.com cannot be shown publicly.</p>
  <p>Simplicity alone won't do the trick, of course. The brand and its products need to be presented in an attractive way, need to resonate with the customer and what they're looking for. Attractive design, good photography and well written copy go a very long way.</p>
  <h2>Internationalisation</h2>
  <p><a href="/work/booking-payments">My work at Booking.com</a> catered to 44 different languages (including right-to-left languages like Arabic and Hebrew), customers from 140+ countries and catered to payment in 50 different currencies.</p>
  <p>I take pride in creating eCommerce sites that cater to a global audience. The great thing about the web is that it allows anyone to easily sell across borders, in a global market. But doing this well is easier said than done, and my years at Envato and Booking.com have given me the know-how to create highly effective eCommerce sites, aimed at international audiences.</p>
  <h2>Shopify</h2>
  <p>For brand new eCommerce sites, 9 times out of 10, I'll recommend <a href="https://www.shopify.com/" target="_blank" rel="noopener">Shopify</a>. It "just works", and while the platform takes a percentage of each sale, this is fair given the <a href="https://www.shopify.com/online/ecommerce-solutions" target="_blank" rel="noopener">long list of features</a> they provide out of the box. For brand new eCommerce sites, this is a no-brainer.</p>
  <p>I can help you create an eCommerce strategy and set up your store. Depending on the project, I can take care of everything from design, content strategy, copywriting, <abbr title="Search Engine Optimisation">SEO</abbr>, and social media marketing.</p>
  <hr>
  <p><a href="mailto:damirkotoric@gmail.com?subject=Would like to talk to you about an eCommerce project&body=Hi Damir," target="_blank">Email me</a> and let's talk about setting up your brand new eCommerce store, or redesigning your existing store to take it to the next level.</p>
  {% include servicePageFooter.html %}
</div>
