---
layout: default
title: "Digital Strategy | Services"
description: "Comprehensive product review, research and a clear product and marketing strategy for your site or app."
imageSrc: "/assets/images/digital-strategy.jpg"
imageWidth: 1500
imageHeight: 500
---

<div class="hero -post" id="heroPortfolio">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/services">Services{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Digital Strategy</h1>
      <p>Comprehensive product review, research and a clear product and marketing  strategy for your site or app.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/digital-strategy.jpg" alt="Two people discussing strategy over some paper scribbles." width="1500" height="500">
  </figure>
  <p>I've over a decade of experience analysing product strategy for startups, Fortune 500 companies, Harvard University and the Australian government.</p>
  <p>The digital strategy package can include:</p>
  <ul>
    <li>A <strong>face-to-face chat</strong> with me, in-person or via video call, where I will enquire about your business, what your goals are, and the approach you're currently taking.</li>
    <li><strong>Customer research</strong> where I'll study your target audience to find out what motivates them to visit your site, and the key factors influencing their buying decision and usage patterns.</li>
    <li><strong>Market research</strong> looking at not just your competitors, but beyond, to what's possible in the market. Too many businesses limit themselves by their competition.</li>
    <li><strong>SEO and social media marketing audit.</strong> I'll assess the ranking of your site in Google, and analyse ways to boost your ranking. Also, looking at ways you could better take advantage of social media to drive traffic to your site.</li>
    <li><strong>Product audit</strong> analysing the user experience of your product, identifying weaknesses and opportunities to create a more compelling experience.</li>
    <li><strong>Analytics review</strong> to gauge what is currently happening on your website (if you already have one), in order to better understand your sales funnel, and where the problem points are.</li>
    <li>Finally, a <strong>digital strategy plan outlining my recommendations for a winning digital strategy</strong> — which we'll go through in detail in a follow-up meeting.</li>
  </ul>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/recommendations.jpg" width="1536" height="580" alt="" style="object-position: 0 0;">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/booking-user-research-summary.jpg" width="1400" height="1050" alt="">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/cdp-testing-1.jpg" width="3200" height="2400" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/research-summary-email.jpg" width="2398" height="1652" alt="" style="object-position: 0 0;">
        </div>
      </div>
    </div>
    <figcaption>Different deliverables from user research reports from quick status update messages to in-depth multi-page reports. Small projects need fast turnaround, and quick and short dot points for next steps. Big projects sometimes require a more thorough strategy and analysis.</figcaption>
  </figure>
  <h2>Turnaround Time</h2>
  <p>In most cases from a few days to a week or two. Depends on the scope of your project and how busy I am with other projects.</p>
  <br>
  {% include quotes/roelof.html %}
  <br>
  <p><a href="mailto:damirkotoric@gmail.com?subject=Would like to talk to you about digital strategy work&body=Hi Damir," target="_blank">Email me</a> if you'd like me to help you define a winning digital strategy for your website, app or eCommerce product.</p>
  {% include servicePageFooter.html %}
</div>
