<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is a total professional. He laid the foundations for the 70:20:10 Forum with his focus on designing a user-centred environment. He demonstrated deep understanding of the 'always beta' world of online services and the need to create interfaces that both engage and delight.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/charlesjennings/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-charles.jpg" alt="" width="412" height="412">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/charlesjennings/" target="_blank" rel="noopener">Charles Jennings</a>
      <span>Co Founder at 70:20:10 Institute</span>
    </div>
  </div>
</blockquote>
