<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is a great all-rounder. Keen to get his hands dirty in all aspects: from assisting with research through to running workshops and writing code.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/christhelwell/" target="_blank" rel="noopener">
      <img src="/assets/images/chris-thelwell.jpg" alt="" width="500" height="500">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/christhelwell/" target="_blank" rel="noopener">Chris Thelwell</a>
      <span>Director of Product Design at DuckDuckGo</span>
    </div>
  </div>
</blockquote>
