<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir has excellent design acumen (in and outside of code), an uncompromising dedication to ethics, and a drive to elevate products to their greatest potential.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/christopher-sledge-18158b54/" target="_blank" rel="noopener">
      <img src="/assets/images/chris-sledge.jpg" alt="" width="500" height="500">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/christopher-sledge-18158b54/" target="_blank" rel="noopener">Christopher Sledge</a>
      <span>UX Designer at Booking.com</span>
    </div>
  </div>
</blockquote>
