<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is a legend. Damir completely transformed BrokerEngine. He is not a "yes man" and will 100% push back on you when he doesn't like the direction. The biggest challenge with Damir is whether you can keep him interested in your product. If you can, you will move onto great things.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/maphomeloans/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-craig.jpeg" alt="" width="300" height="300">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/maphomeloans/" target="_blank" rel="noopener">Craig Vaughan</a>
      <span>Co-Founder and Product Manager at BrokerEngine</span>
    </div>
  </div>
</blockquote>
