<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is one of the best designers I've worked with in my 10+ year career as a web developer. He inherently understands the technicality of front end development, empathizes with the user, and cuts straight through to value for client and user. He is multi-talented and I would recommend him for product, design, or front-end development roles.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/daniel-rekshan/" target="_blank" rel="noopener">
      <img src="/assets/images/daniel.jpg" alt="" width="500" height="500">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/daniel-rekshan/" target="_blank" rel="noopener">Daniel Rekshan</a>
      <span>Fine artist and web developer at Archimedes Digital</span>
    </div>
  </div>
</blockquote>
