<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is a *true* UX designer: when he works on something, from the tiniest little feature change to the biggest all-new project, his goal is to solve a problem for the user. Not only does he have a great sense of style and balance - he is also able to perfectly combine aesthetics with user needs. And to combine both with business requirements and goals.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/fiorellarizza/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-fiorella.jpg" alt="" width="200" height="200">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/fiorellarizza/" target="_blank" rel="noopener">Fiorella Rizzà</a>
      <span>Senior UX Writer at Booking.com</span>
    </div>
  </div>
</blockquote>
