<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir has the experience and initiative to take on a brief and work with all the key stakeholders to get an outcome. Above and beyond his high quality UX and design skills, this sets Damir apart from many other designers I have worked with.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/corlettjohn/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-john.jpg" alt="" width="300" height="300">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/corlettjohn/" target="_blank" rel="noopener">John Corlett</a>
      <span>Technical Product Owner at Link Digital</span>
    </div>
  </div>
</blockquote>
