<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is highly empathetic and measured which made him an excellent mentor and guide to others in their UX journey.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/matthewmccraejohnson" target="_blank" rel="noopener">
      <img src="/assets/images/matt.jpg" alt="" width="500" height="500">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/matthewmccraejohnson" target="_blank" rel="noopener">Matthew McCrae Johnson</a>
      <span>Program Producer at General Assembly</span>
    </div>
  </div>
</blockquote>
