<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Damir is a one-of-a-kind excellent designer with a real sense for product: An unbeatable match, making it very satisfying to have been able to work together.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/roelofpieters/" target="_blank" rel="noopener">
      <img src="/assets/images/roelof.jpg" alt="" width="500" height="500">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/roelofpieters/" target="_blank" rel="noopener">Roelof Pieters</a>
      <span>CEO at creative.ai</span>
    </div>
  </div>
</blockquote>
