<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">I can highly recommend Damir for his outstanding design skills, and clear and goal-oriented approach of communicating his ideas to the team and company stakeholders. He brought substantial positive change to our team soon after joining, taking over the visual side of our project, championing the user research, and driving the communication of product vision with the wider design community within the company.</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/vtambourine/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-veniamin.jpg" alt="" width="300" height="300">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/vtambourine/" target="_blank" rel="noopener">Veniamin Kleshchenkov</a>
      <span>Senior Full Stack Developer at Booking.com</span>
    </div>
  </div>
</blockquote>
