<blockquote class="quote -large">
  <div class="quoteIcon">
    {% include /svg/icon-quote.svg %}
  </div>
  <div class="quoteText">Thanks Damir for your epic contribution to the project!</div>
  <div class="quoteAuthor">
    <a class="quoteAuthorImage" href="https://www.linkedin.com/in/willswayne/" target="_blank" rel="noopener">
      <img src="/assets/images/portrait-will.jpeg" alt="" width="300" height="300">
    </a>
    <div class="quoteAuthorContent">
      <a href="https://www.linkedin.com/in/willswayne/" target="_blank" rel="noopener">Will Swayne</a>
      <span>Co-Founder at BrokerEngine</span>
    </div>
  </div>
</blockquote>
