// Colours
$color_primary_500: #2e0ea1
$color_primary_50: lighten($color_primary_500, 62%)
$color_primary_100: lighten($color_primary_500, 54%)
$color_primary_200: lighten($color_primary_500, 40%)
$color_primary_300: lighten($color_primary_500, 26%)
$color_primary_400: lighten($color_primary_500, 10%)
$color_primary_600: darken($color_primary_500, 5%)
$color_primary_700: darken($color_primary_500, 10%)
$color_primary_800: darken($color_primary_500, 15%)
$color_primary_900: darken($color_primary_500, 20%)

$color_secondary_200: #ede0de
$color_secondary_50: lighten($color_secondary_200, 8%)
$color_secondary_100: lighten($color_secondary_200, 4%)
$color_secondary_300: darken($color_secondary_200, 4%)
$color_secondary_400: darken($color_secondary_200, 10%)
$color_secondary_500: darken($color_secondary_200, 20%)
$color_secondary_600: darken($color_secondary_200, 30%)
$color_secondary_700: darken($color_secondary_200, 50%)
$color_secondary_800: darken($color_secondary_200, 76%)
$color_secondary_900: darken($color_secondary_200, 86%)

$color_grey_400: mix(grey, $color_primary_500, 96%)
$color_grey_50: mix(lighten(grey, 52%), $color_primary_500, 98%)
$color_grey_100: mix(lighten(grey, 47%), $color_primary_500, 98%)
$color_grey_200: mix(lighten(grey, 40%), $color_primary_500, 96%)
$color_grey_300: mix(lighten(grey, 14%), $color_primary_500, 96%)
$color_grey_500: mix(darken(grey, 10%), $color_primary_500, 96%)
$color_grey_600: mix(darken(grey, 20%), $color_primary_500, 96%)
$color_grey_700: mix(darken(grey, 30%), $color_primary_500, 96%)
$color_grey_800: mix(darken(grey, 40%), $color_primary_500, 96%)
$color_grey_900: mix(darken(grey, 50%), $color_primary_500, 96%)

// Layout
$breakpoint_1: 640px
$breakpoint_2: 1024px
$breakpoint_3: 1170px
$breakpoint_4: 1600px
@mixin containerPage
  margin-left: auto
  margin-right: auto
  max-width: 1600px
@mixin containerContent
  margin-left: auto
  margin-right: auto
  max-width: 1240px
  padding-left: 20px
  padding-right: 20px
  @media (min-width: $breakpoint_1)
    padding-left: 30px
    padding-right: 30px
  @media (min-width: $breakpoint_2)
    padding-left: 40px
    padding-right: 40px

// Typography
@font-face
  font-family: source-serif-pro
  font-weight: 900
  font-style: normal
  src: url('/assets/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-Black.ttf.woff2') format('woff2'), url('/assets/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-Black.otf.woff') format('woff'), url('/assets/fonts/source-serif-pro/OTF/SourceSerifPro-Black.otf') format('opentype'), url('/assets/fonts/source-serif-pro/TTF/SourceSerifPro-Black.ttf') format('truetype')

@font-face
  font-family: source-serif-pro
  font-weight: 600
  font-style: normal
  src: url('/assets/fonts/source-serif-pro/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2'), url('/assets/fonts/source-serif-pro/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'), url('/assets/fonts/source-serif-pro/OTF/SourceSerifPro-Bold.otf') format('opentype'), url('/assets/fonts/source-serif-pro/TTF/SourceSerifPro-Bold.ttf') format('truetype')

@mixin h1
  color: $color_primary_900
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 900
  font-style: normal
  font-size: 44px
  line-height: 0.92
  letter-spacing: -2px
  word-spacing: 3px
  @media (min-width: $breakpoint_2)
    font-size: 100px

@mixin h2
  color: $color_primary_900
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 600
  font-size: 32px
  line-height: 1.1
  @media (min-width: $breakpoint_2)
    font-size: 60px

@mixin h3
  color: $color_grey_800
  font-family: source-serif-pro, serif
  font-weight: 600
  font-size: 20px
  line-height: 1.2
  @media (min-width: $breakpoint_2)
    font-size: 40px

@mixin h4
  color: $color_grey_800
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 900
  font-size: 29px
  line-height: 1.2
  @media (min-width: $breakpoint_2)
    font-size: 30px

@mixin h5
  color: $color_grey_800
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 900
  font-size: 19px
  line-height: 1.2
  @media (min-width: $breakpoint_2)
    font-size: 26px

@mixin h6
  color: $color_grey_700
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font-weight: 800
  font-size: 18px
  line-height: 1.2
  @media (min-width: $breakpoint_2)
    font-size: 22px

@mixin body1
  color: $color_primary_900
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  line-height: 1.5
  font-size: 18px
  font-weight: 500
  @media (min-width: $breakpoint_2)
    font-size: 24px
    letter-spacing: -0.6px

@mixin body2
  color: $color_primary_900
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  line-height: 1.3
  font-size: 16px
  font-weight: 600
  @media (min-width: $breakpoint_2)
    font-size: 21px

@mixin caption
  color: $color_primary_900
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  line-height: 1.6
  font-size: 14px
  font-weight: 600
  letter-spacing: 0.1px
  @media (min-width: $breakpoint_2)
    font-size: 18px
    letter-spacing: 0.3px

@mixin overline
  color: $color_grey_500
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  line-height: 1.6
  font-size: 14px
  font-weight: 500
  letter-spacing: 1px
  text-transform: uppercase
  @media (min-width: $breakpoint_2)
    font-size: 18px
    letter-spacing: 1.5px
    word-spacing: 1px
