<div class="hero px-8 2xl:container 2xl:mx-auto 2xl:px-20 -hero-{{ include.type }}">
  <div class="
    {% if include.type == "home" %}
      sm:flex sm:items-stretch sm:justify-center sm:mb-10
    {% endif %}
    pb-5 lg:px-5 xl:px-20"
  >
    <div class="
      {% if include.type == "home" %}
        sm:w-3/5 sm:pt-14 sm:pb-10
      {% endif %}
      "
    >
      {% if include.type == "post" %}
        {% include components/buttonArrow.html url=include.parentBreadcrumbURL label=include.parentBreadcrumbLabel %}
      {% endif %}
      <h1 class="
        {% if include.type == "post" %}
          headline-2xl
        {% else %}
          headline-3xl
        {% endif %}
         text-gray-900 mb-2 dark:text-gray-50"
        {% if include.type == "home" %}
          style="line-height: 0.92;"
        {% endif %}
      >
        {% if include.type == "home" %}
          Damir <br>Kotorić
        {% else %}
          {{ include.title }}
          {% if include.externalLink %}
            <style>
              .hero-title-link svg {
                height: 100%;
                width: auto;
              }
            </style>
            <a class="hero-title-link inline-block h-5 w-5 opacity-70 mb-0.5 text-gray-800 ml-1 lg:mb-1.5 lg:w-7 lg:h-7 hover:text-primary-500 hover:opacity-100 focus:text-primary-800 dark:text-gray-100 dark:hover:text-primary-200 dark:focus:text-primary-100" href="{{ include.externalLink }}" target="_blank" rel="noopener"><span>{% include /svg/icon-link.svg %}</span></a>
          {% endif %}
        {% endif %}
      </h1>
      <p class="
        {% if include.type == "home" %}
          max-w-2xl
        {% endif %}
        headline-l text-gray-500 my-3 dark:text-gray-400 sm:mb-7"
      >
        {% if include.type == "home" %}
          Multidisciplinary designer bringing digital projects to life — for startups, governments and Fortune 500 giants worldwide.
        {% else %}
          {{ include.subtitle }}
        {% endif %}
      </p>
      {% if include.type == "home" %}
        <a class="headline-l inline-block bg-primary-500 text-white rounded-full mb-7 leading-none px-6 py-2 m:px-7 m:py-4 hover:bg-primary-600 focus:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-700 focus:ring-opacity-20 dark:bg-primary-300 dark:hover:bg-primary-400 dark:focus:bg-primary-500 dark:focus:ring-primary-100 dark:focus:ring-opacity-10 sm:mb-3" href="https://www.linkedin.com/in/damirkotoric/" target="_blank"  rel="noopener">Connect on LinkedIn</a>
      {% endif %}
    </div>
    {% if include.type == "home" %}
      <div class="relative pt-5 pl-5 sm:flex sm:w-2/5 sm:ml-10">
        <img id="hero-portrait-image" class="block relative object-cover rounded-md z-10 shadow-md" src="assets/images/damir-portrait.jpg" alt="Portrait photo of Damir">
        <div class="absolute left-0 top-0 rounded-md z-0 bg-gradient-to-br from-gray-300 to-primary-700" style="height: calc(100% - 20px); width: calc(100% - 20px);"></div>
      </div>
    {% endif %}
  </div>
</div>
