<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Damir Kotorić">

    <!-- Social media sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@damirkotoric">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://damirkotoric.com">
    <meta property="og:site_name" content="Damir Kotorić">
    <meta property="og:image" content="https://damirkotoric.com/assets/images/social.jpg">
    <meta property="og:image:alt" content="">
    <meta property="og:image:width" content="2000">
    <meta property="og:image:height" content="1000">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Google Webmaster Tools verification (keep it here permanently) -->
    <meta name="google-site-verification" content="xns4J7VsDFSTLxgBa_X2MTO07TVjiNPfkIIs0uoJh1w" />
    <!-- Google Cloud verification (keep it here permanently) -->
    <meta name="google-site-verification" content="XO3xVeFtKxLKDqTERbR2uPxOu96AE4G67UzMKROfU70" />

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ "/assets/js/jquery.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/medium-zoom.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </head>
  <body class="page--{{ page.path | replace: ".html", "" }}">
    {% comment %}
    {% include colourScheme.html %}
    {% endcomment %}
    <div class="header">
      <div>
        <a class="headerLogo" href="/" aria-label="Home">
          {% include logo.svg %}
        </a>
        <div class="headerBurger">
          <div class="headerBurgerContainer">
            <div class="headerBurgerContainerBar -topBar"></div>
            <div class="headerBurgerContainerBar -btmBar"></div>
          </div>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItem {% if page.activeNav == 1 %}-active{% endif %}"><a href="/">Overview</a></div>
          <div class="headerMenuItem {% if page.activeNav == 2 %}-active{% endif %}"><a href="/portfolio">Portfolio</a></div>
          <div class="headerMenuItem {% if page.activeNav == 3 %}-active{% endif %}"><a href="/disciplines">Disciplines</a></div>
          <div class="headerMenuItem {% if page.activeNav == 4 %}-active{% endif %}"><a href="/about">About</a></div>
          <div class="headerMenuItem {% if page.activeNav == 5 %}-active{% endif %}"><a href="mailto:damirkotoric@gmail.com?subject=Saying hello via your website&body=Hi Damir," target="_blank">Email <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a></div>
        </div>
      </div>
    </div>
  
    {{ content }}
  
    <script type="text/javascript">
      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36732319-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
      // Mouseflow
      window._mfq = window._mfq || [];
      (function() {
          var mf = document.createElement("script");
          mf.type = "text/javascript"; mf.defer = true;
          mf.src = "//cdn.mouseflow.com/projects/970cecf8-cef9-47e1-ae1e-d75e04e95a5c.js";
          document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
  
    <!-- Crisp -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e4702544-5c59-4e07-b8eb-d18679219f3b";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </body>
</html>
