---
layout: default
title: "Event Management App | work of Damir Kotorić"
description: "An app designed to help event managers organise with more ease and less chaos."
imageSrc: "/assets/images/event-management-app-cover.jpg"
imageWidth: 1600
imageHeight: 960
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">Work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Event Management App</h1>
      <p>An app designed to help event managers organise with more ease and less chaos.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/event-management-app-cover.jpg" alt="" width="1600" height="960">
    <figcaption></figcaption>
  </figure>
  <p>The goal for this project was to come up with a roadmap and a prototype for a new event management app. Going off a design brief, it was my task to lead the design effort for this quick-turnaround project.</p>
  <!-- <figure>
    <img src="/assets/images/storyverse-cover-full.jpg" alt="" width="1600" height="1200">
    <figcaption>The most emotive stories are the little stories that are embedded in a particular location, and I wanted to explore the idea for an app that would allow for the sharing of these stories.</figcaption>
  </figure> -->
  <figure class="-contain">
    <video src="https://storage.googleapis.com/damirkotoric/eventsAppProcess.mp4" controls autoplay muted loop></video>
    <figcaption>A look at how this project went from brief to analysis, exploration, design and prototyping. I use <a href="https://miro.com/" target="_blank" rel="noopener">Miro</a> as a digital whiteboard for the early exploration phase of a project.</figcaption>
  </figure>
  <p>The above video showcases the process I typically go through on most projects, starting from analysis, and research, exploration, design and prototyping. It's not uncommon to have little time to spend on this important exploratory work on small projects like this one, but it still needs to happen in order to deliver quality work. It's a bit of an art balancing just how much exploration and strategy should be done at the beginning.</p>
  <p>Too much exploration work, and the project will go over budget. Too little exploratory work, and the end product doesn't quite hit the mark. It all depends on the project, but even a small amount of <a href="/services/strategy">strategy and exploration work</a> is required even on small projects.</p>
  <figure class="-contain">
    <video src="https://storage.googleapis.com/damirkotoric/eventsApp.mp4" autoplay muted loop controls></video>
    <figcaption><a href="https://www.figma.com/proto/06IBlvwOCnyYW4mmDCmOPP/Events?node-id=16377%3A12092&viewport=-1822%2C304%2C0.28331059217453003&scaling=scale-down" target="_blank" rel="noopener">The prototype</a> I created for an iOS app targeted at event organisers.</figcaption>
  </figure>
  <p><a href="https://www.figma.com/proto/06IBlvwOCnyYW4mmDCmOPP/Events?node-id=16377%3A12092&viewport=-1822%2C304%2C0.28331059217453003&scaling=scale-down" target="_blank" rel="noopener">Take the prototype for a test drive</a> and see it for yourself. The work here acts as a tangible vision for the product owner, and as guiding blueprints for the development team. <strong>This work was completed in under one week,</strong> in large part due to the very clear and well reasoned project brief that was handed to me at the beginning.</p>
  <hr>
  {% include workPageFooter.html %}
</div>
