---
layout: default
title: "Giza AR | work of Damir Kotorić"
description: "Creating an AR 'window into the past' in collaboration with Harvard University professors, at Giza Necropolis, Egypt."
imageSrc: "/assets/images/gizaAR-tomb-hieroglyphs-colour.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">Work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Giza AR</h1>
      <p>Creating an AR "window into the past" in collaboration with Harvard University professors, at Giza Necropolis, Egypt.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/gizaAR-tomb-hieroglyphs-colour.jpg" alt="Giza AR app showing Egyptian tomb hieroglyphs in full colour." width="1600" height="900">
    <figcaption>A window into the past — depicting the hieroglyphs as they originally appeared millennia ago.</figcaption>
  </figure>
  <p>In collaboration with <a href="http://giza.fas.harvard.edu/" target="_blank" rel="noopener">the Giza Project at Harvard University</a>, the folks at <a href="https://archimedes.digital/" target="_blank" rel="noopener">Archimedes Digital</a> and I came up with an AR app for the tombs of the pyramids of Giza — site of the seven wonders of the ancient world.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/giza-ar-showcase.mp4" controls autoplay muted loop></video>
    <figcaption>Testing the prototype onsite. The hieroglyphs were originally painted in vivid colour, and our AR app brings them to life again — digitally restored by Harvard University professors of Egyptology.</figcaption>
  </figure>
  <p>My responsibility was to create the conceptual designs and collaborate with developers on the prototype. We ran a week-long hackathon in Cairo, and we even got to test the app <strike>on the ground</strike> in the tombs of the Giza plateau.</p>
  <figure>
    <img src="/assets/images/giza-ar-showcase.jpg" alt="" width="1600" height="900">
    <figcaption>Conceptual designs exploring different features: a map guiding visitors through the plateau. A tour explaining each landmark and its points of interest. The ability to explore different artefacts that were discovered at each of the landmarks.</figcaption>
  </figure>
  <h2>Archaeology and <abbr title="Augmented Reality">AR</abbr>, a match made in heaven.</h2>
  <p>The compelling case for augmented reality apps is that it enables cultural institutions to offer a wow factor for visitors, but importantly, <em>without</em> having to manipulate the physical objects on site. A win-win for both cultural preservation and the creation of an engaging visitor experience.</p>
  <h2>Partnering with Harvard University.</h2>
  <p>Through my team's partnership with <a href="http://giza.fas.harvard.edu/" target="_blank" rel="noopener">the Giza Project at Harvard University</a> with over a century of excavation data from the tombs and monuments surrounding the pyramids, we wanted to share the story of the pyramids and the Giza Necropolis like it never has been told before.</p>
  <figure class="-contain">
    <div class="iframeMedia">
      <iframe width="1000" height="562" src="https://www.youtube-nocookie.com/embed/TdGJ-5XR4gM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <figcaption>Partnering with the experts at Harvard University.</figcaption>
  </figure>
  <p>These are among the world's top Egyptology experts, and together we created an AR app that is not just visually impressive, but also historically accurate.</p>
  <p>Given that we worked so closely with archaeologists, we decided to tell the story from the angle of an archaeologist taking you on a guided tour, listening to them recount the lore of the site that they’ve lived and worked with for decades.</p>
  <h2>Digitally preserving history with 3D laser scans.</h2>
  <p>During this work my team captured a 3D laser scan of <a href="https://egymonuments.gov.eg/en/monuments/tomb-of-queen-meresankh-iii/" target="_blank" rel="noopener">the tomb of Meresankh III</a> using a <a href="https://matterport.com/" target="_blank" rel="noopener">Matterport</a> camera. This 3D scan was even <a href="https://www.theguardian.com/travel/2020/apr/15/egyptian-tomb-ancient-wonders-open-for-virtual-tour-in-lockdown" target="_blank" rel="noopener">featured in The Guardian</a>.</p>
  <figure>
    <div class="iframeMedia">
      <iframe width="853" height="480" src="https://my.matterport.com/show/?m=d42fuVA21To" frameborder="0" allowfullscreen allow="xr-spatial-tracking"></iframe>
    </div>
  </figure>
  <p>The impact this work made was intangible. We wanted to create a proof of concept, and we did. This prototype helped my team secure subsequent projects like the <a href="/work/zjumaa">Zhejiang University Museum of Art and Archaeology AR App</a> and <a href="/work/parthenon-ar" target="_blank" rel="noopener">the Parthenon AR App</a>. Not to mention lighting a fire under our belly for being able to pull off a successful hackathon in just over a week's work.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/hieroglyphs.jpg" width="1400" height="1050" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/tomb.jpg" width="1468" height="1468" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/palm-trees.jpg" width="1370" height="1370" alt="">
        </div>
      </div>
    </div>
    <figcaption>The enchanting treasures of Egypt.</figcaption>
  </figure>
  {% include workPageFooter.html %}
</div>
