---
layout: default
title: "Historic Blenheim AR | work of Damir Kotorić"
description: "An app revealing inscriptions, dating back to the 20th century, invisible to the naked eye and made visible thanks to laser scanning and AR."
imageSrc: "/assets/images/historic-blenheim-cover.jpg"
imageWidth: 3200
imageHeight: 1920
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">Work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Historic Blenheim AR</h1>
      <p>An app revealing inscriptions, dating back to the 20th century, invisible to the naked eye and made visible thanks to laser scanning and AR.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/historic-blenheim-cover.jpg" alt="" width="3200" height="1920">
  </figure>
  <p>Can we make visible what is naked to the naked eye, and can we thereby reveal stories that were previously untold?</p>
  <figure class="-contain">
    <div class="iframeMedia">
      <iframe width="1000" height="562" src="https://www.youtube-nocookie.com/embed/lkpMbxIDro8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <figcaption>A look at the laser scanning that was done at Historic Blenheim.</figcaption>
  </figure>
  <p><a href="https://en.wikipedia.org/wiki/Historic_Blenheim" target="_blank" rel="noopener">Historic Blenheim</a> is a 19th century heritage site in Fairfax, Virginia. It was a site during the American Civil War, and the interior of the building holds century-old graffiti. Following laser scanning done by a <a href="http://rbtoth.com/index.html" target="_blank" rel="noopener">team of laser scanning specialists</a>, we now have images where we can see inscriptions that were previously invisible to the naked eye.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/historic-blenheim-scan-setup.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/historic-blenheim-scan-software.jpg" width="1920" height="1080" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/historic-blenheim-scan.jpg" width="1920" height="1080" alt="">
        </div>
      </div>
    </div>
    <figcaption>Laser scans revealing inscriptions that were partly obscured, and inscriptions that were completely hidden to the naked eye.</figcaption>
  </figure>
  <p>This is where my team came in. My responsibility was to lead the design efforts on creating an AR app that would make these laser scans visible to site visitors.</p>
  <figure class="-full">
    <img src="/assets/images/historic-blenheim-stories.jpg" alt="" width="4000" height="2400">
    <figcaption>Telling the story. The AR app would guide visitors around the interior of the heritage site, and explain the details behind each inscription.</figcaption>
  </figure>
  <p>Site visitors would arrive to the site, see the app advertised, download the app, and then explore the site and use it as a sort of x-ray device.</p>
  <figure class="-full">
    <img src="/assets/images/historic-blenheim-core-experience.jpg" alt="" width="4000" height="2400">
    <figcaption>Seeing the unseen. Using the AR app visitors can see inscriptions that are invisible to the naked eye.</figcaption>
  </figure>
  <p>In about a day's work, I completed the conceptual design mockups, which allowed my team to sync up with the project stakeholders around the expectations of the app, and build cost estimates.</p>
  {% include workPageFooter.html %}
</div>
