---
layout: default
title: "Boston North End Public Art | work of Damir Kotorić"
description: "Turning an iconic Boston neighbourhood into an open-air museum, powered by AR."
imageSrc: "/assets/images/public-art-cropped.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Boston North End Public Art</h1>
      <p>Turning an iconic Boston neighbourhood into an open-air museum, powered by AR.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/public-art-ar-cover.jpg" alt="" width="1600" height="900">
  </figure>
  <p>What if you could turn a city neighbourhood into an open air museum?</p>
  <p><abbr title="augmented reality">AR</abbr> opens up new creative possibilities, and my job with this project was to explore a prototype for an app that tells the stories of the 20th century immigrants of <a href="https://en.wikipedia.org/wiki/North_End,_Boston" target="_blank" rel="noopener">Boston's most iconic neighbourhood</a>.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/public-art-clickthrough.mp4" width="1824" height="1336" controls muted autoplay loop></video>
    <figcaption>A click-through of <a href="https://www.figma.com/proto/LyRSmZ8E4ge3J7i85Jx17s/Public-Art?node-id=131%3A606&viewport=763%2C133%2C0.01695249043405056&scaling=contain" target="_blank" rel="noopener">the prototype</a>, showing the app onboarding and first use.</figcaption>
  </figure>
  <h2>Mind sharing your camera and location?</h2>
  <p><a href="https://uxplanet.org/why-permission-priming-is-good-ux-19c675754dbb" target="_blank" rel="noopener">Good permission priming</a> is key with AR apps. We need both the user's geolocation and camera access to make the AR experience work. Those are among the most sensitive personal details that an app can ask for, therefore this the most critical part of the onboarding experience.</p>
  <figure class="-contain">
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/public-art-ar-map.jpg" alt="" width="1600" height="1200">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/public-art-ar-story.jpg" alt="" width="1600" height="1200">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/public-art-ar-plaque-overlay.jpg" alt="" width="1600" height="1200">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/public-art-ar-contribute.jpg" alt="" width="1600" height="1200">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/public-art-ar-building.jpg" alt="" width="1600" height="1200">
        </div>
      </div>
    </div>
    <figcaption>Exploring the stories of 20th century immigrants to Boston's North End using augmented reality.</figcaption>
  </figure>
  <h2>The square.</h2>
  <p><a href="https://en.wikipedia.org/wiki/North_Square_(Boston,_Massachusetts)" target="_blank" rel="noopener">North Square</a> is a central gathering ground of the North End neighbourhood.</p>
  <figure class="-contain">
    <img src="/assets/images/public-art-square.jpg" alt="" width="2044" height="1150">
  </figure>
  <p>A special bronze cast plaque was installed here as part of the square's recent restoration. As part of this, I explored an AR feature which would interact with the bronze map to give users another overview of where they can find stories.</p>
  <figure class="-contain">
    <img src="/assets/images/public-art-ar-plaque-overlay.jpg" alt="" width="1600" height="1200">
    <figcaption>A real life mini map. Point your phone over the bronze map located in North Square, and see the stories placed over their respective locations.</figcaption>
  </figure>
  <p>The result of this work was a <a href="https://www.figma.com/proto/LyRSmZ8E4ge3J7i85Jx17s/Public-Art?node-id=131%3A606&viewport=763%2C133%2C0.01695249043405056&scaling=contain" target="_blank" rel="noopener">clickable prototype</a> which guided the development team for the build of the app, and it took about a week to go from project kick-off, through to completed prototype.</p>
  {% include workPageFooter.html %}
</div>
