---
layout: default
title: "Storyverse | work of Damir Kotorić"
description: "Dreaming up a concept for a story discovery app."
imageSrc: "/assets/images/storyverse-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Storyverse</h1>
      <p>Dreaming up a concept for a story discovery app.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/storyverse-poster.jpg" alt="" width="2826" height="1590">
  </figure>
  <p>Even before <a href="https://en.wikipedia.org/wiki/Pok%C3%A9mon_Go" target="_blank" rel="noopener">Pokémon GO</a> I wanted to create an app that is a love child of <a href="https://www.geocaching.com/">geocaching</a> and blogging. But when Pokémon Go came on the scene, a light bulb lit up in my head and I set out to create conceptual designs for such an app.</p>
  <figure>
    <img src="/assets/images/storyverse-cover-full.jpg" alt="" width="1600" height="1200">
    <figcaption>The most emotive stories are the little stories that are embedded in a particular location, and I wanted to explore the idea for an app that would allow for the sharing of these stories.</figcaption>
  </figure>
  <h2>Gotta catch 'em all!</h2>
  <p>One similarity between Pokémon GO, Geocaching and my idea is that you need to physically be at the location to access the content. You can't just browse a big list of stories on the app from your couch. This artificial limitation would be one of the key draws to the app.</p>
  <figure class="-contain">
    <img src="/assets/images/storyverse-animated.gif" alt="" width="800" height="450">
    <figcaption>Using AR to find and unlock stories.</figcaption>
  </figure>
  <h2>Connecting reader and author across space-time.</h2>
  <p>My goal was to connect the author with the reader, by requiring the author to place the story at a geolocation using the app, and by requiring the reader to move to a location to unlock a particular story. This means that both author and reader were in the same place at different points in time, which adds to the richness of the storytelling experience.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/storyverse-great-wall.jpg" alt="" width="1000" height="1000">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/storyverse-angkor-wat.jpg" alt="" width="1000" height="1000">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/storyverse-statue-of-liberty.jpg" width="1000" height="1000" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/storyverse-giza.jpg" width="1000" height="1000" alt="">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/storyverse-bali.jpg" width="1000" height="1000" alt="">
        </div>
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/storyverse-brooklyn-bridge.jpg" width="3840" height="2160" alt="">
        </div>
      </div>
    </div>
    <figcaption>People sharing tidbits of stories, from interesting historical facts, to personal stories, and random attempts at humour.</figcaption>
  </figure>
  <p>I remember first having this idea in around 2012, and I'm genuinely surprised that such an app hasn't yet taken off. I still believe that someone will build something like this, and it'll join the ranks of Twitter and Instagram as one of the greats of the internet.</p>
  <hr>
  {% include workPageFooter.html %}
</div>
