---
layout: default
title: "Tripureshwor Web 360° Tour | work of Damir Kotorić"
description: "Conceptual design for the digital preservation of one of Nepal's cultural treasures."
imageSrc: "/assets/images/tripureshwor-web-360-tour-cover.jpg"
imageWidth: 1600
imageHeight: 900
---

<div class="hero -post" id="herowork">
  <div>
    <div class="heroContent">
      <a class="heroBack cardButton button -arrow" href="/work">Work{% include /svg/icon-chevron-right.svg %}</a>
      <h1>Tripureshwor Web 360° Tour</h1>
      <p>Conceptual design for the digital preservation of one of Nepal's cultural treasures.</p>
    </div>
  </div>
</div>

<div class="post">
  <figure class="-full">
    <img src="/assets/images/tripureshwor-web-360-tour-cover.jpg" alt="A screenshot of a 3D virtual tour of the temple." width="1600" height="900">
  </figure>
  <p>Tripureshwor Shiva Mahadev is Kathmandu's largest Hindu temple. Built in the 19th century, it was damaged during <a href="https://en.wikipedia.org/wiki/April_2015_Nepal_earthquake" target="_blank" rel="noopener">the earthquake that devastated Nepal in 2015</a>.</p>
  <p>As part of a <a href="https://architizer.com/projects/restoration-and-requalification-of-tripureshwor-mahadev-temple/" target="_blank" rel="noopener">restoration project</a>, my team proposed a digital preservation effort in order to digitally preserve the temple using laser scanning, and to make these scans available to the whole world via a web 360° tour. My task was to come up with a conceptual vision for this virtual tour.</p>
  <figure>
    <video src="https://storage.googleapis.com/damirkotoric/tripureshwor-clickthrough.mp4" controls autoplay muted loop></video>
    <figcaption>A walkthrough of the vision for the virtual tour using <a href="https://www.figma.com/proto/WLOKySu6WfzaTZkzEWqTNb/Tripureshwor?node-id=53%3A1&viewport=217%2C196%2C0.08515050262212753&scaling=min-zoom" target="_blank" rel="noopener">the prototype</a> I created.</figcaption>
  </figure>
  <p></p>
  <h2>Balancing freedom and structure.</h2>
  <p>We were blown away by <a href="https://artsexperiments.withgoogle.com/bagan" target="_blank" rel="noopener">Google's Bagan experience</a>. It perfectly balanced free roaming and a guided linear progression experience. You're given room to explore the site, but also have a sense of progression. You feel free to explore without feeling lost.</p>
  <figure>
    <div class="gallery">
      <div class="galleryRow">
        <img src="/assets/images/tripureshwor-gallery-1.jpg" width="1600" height="1200" alt="A statue on the ground surrounding the temple.">
      </div>
      <div class="galleryRow">
        <div class="galleryItem">
          <img src="/assets/images/tripureshwor-gallery-2.jpg" width="1600" height="1200" alt="A statue on the ground surrounding the temple.">
        </div>
        <div class="galleryItem">
          <img src="/assets/images/tripureshwor-gallery-3.jpg" width="1600" height="1200" alt="A statue on the ground surrounding the temple.">
        </div>
      </div>
    </div>
    <figcaption>A gallery mode is used to add variety to the exploration experience.</figcaption>
  </figure>
  <h2>Multimedia.</h2>
  <p>The tour utilises 3D laser scans to create a virtual 3D world which the user can explore in their web browser. This is the foundation of the exploration experience, but on its own it can get mundane pretty fast. To pack more interest, and structure to the storytelling, we added a photo gallery, video, audio, and aerial 360° images to enrich the exploration.</p>
  <figure class="-contain">
    <img src="/assets/images/tripureshwor-aerial.jpg" alt="Aerial photograph of the temple, taken with a drone." width="1600" height="1200">
    <figcaption>An aerial 360° image mode taken with a drone. Here the user can look around in 360° degrees.</figcaption>
  </figure>
  <figure class="-contain">
    <img src="/assets/images/tripureshwor-video.jpg" alt="A still shot showing a man laying tiles on a roof.">
    <figcaption>A video showing the restoration of the temple roof.</figcaption>
  </figure>
  <figure class="-contain">
    <img src="/assets/images/tripureshwor-interior.jpg" alt="Aerial photograph of the temple, taken with a drone.">
    <figcaption>An aerial 360° image mode taken with a drone. Here the user can look around in 360° degrees.</figcaption>
  </figure>
  <p>The conceptual work here took a day to put together, and then another day of feedback, and iteration. It was then used to pitch the idea to the relevant bodies in charge of the restoration effort. <a href="https://www.figma.com/proto/WLOKySu6WfzaTZkzEWqTNb/Tripureshwor?node-id=53%3A1&viewport=217%2C196%2C0.08515050262212753&scaling=min-zoom" target="_blank" rel="noopener">You can take the prototype for a test drive.</a> I recommend going into full screen mode on your browser if you give it a try.</p>
  {% include workPageFooter.html %}
</div>
