<a class="card" href="/portfolio/historic-blenheim-ar">
  <div class="cardMedia">
    <img src="/assets/images/historic-blenheim-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Historic Blenheim AR</h3>
  <ul class="cardTags">
    <li>AR</li>
    <li>Conceptual design</li>
    <li>Digital humanities</li>
  </ul>
  <p>An app revealing inscriptions, dating back to the 20th century, invisible to the naked eye and made visible thanks to laser scanning and AR.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
