<div class="card">
  <div class="cardMedia">
    <img src="/assets/images/booking-homepage-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Booking.com Conversion Rate Optimisation</h3>
  <ul class="cardTags">
    <li>eCommerce</li>
    <li>Corporate</li>
    <li><abbr title="Conversion Rate Optimisation">CRO</abbr></li>
    <li>Web performance</li>
    <li>Accessibility</li>
  </ul>
  <p>Increasing conversion by tens of millions of euros per year at Booking.com HQ in Amsterdam, Netherlands. The details of this work are confidential.</p>
</div>
