<a class="card" href="/portfolio/booking-payments">
  <div class="cardMedia">
    <img src="/assets/images/booking-payments-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Payments at Booking.com</h3>
  <ul class="cardTags">
    <li>eCommerce</li>
    <li>Corporate</li>
    <li>Payments</li>
    <li>UX roadmap</li>
    <li>User testing</li>
  </ul>
  <p>Designing the future payment experience for millions of customers in 191 countries around the world.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
