<a class="card" href="https://blog.archimedes.digital/visualizing-the-pyramids-uncover-the-hidden-stories-of-egypt-in-augmented-reality-with-harvards-d03a3eb8fd63" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/gizaAR-tomb-hieroglyphs-colour.jpg" alt="Giza AR app showing Egyptian tomb hieroglyphs in full colour." width="1600" height="900">
  </div>
  <h3>Giza AR App</h3>
  <ul class="cardTags">
    <li>AR</li>
    <li>Startup</li>
    <li>Design sprint</li>
    <li>Digital humanities</li>
  </ul>
  <p>Creating an AR "window into the past" at the Great Pyramids of Giza, Egypt.</p>
  <div class="cardButton button -arrow">Read more{% include_relative /assets/images/icon-link.svg %}</div>
</a>
