<a class="card" href="/portfolio/giza-ar">
  <div class="cardMedia">
    <img src="/assets/images/gizaAR-tomb-hieroglyphs-colour.jpg" alt="Giza AR app showing Egyptian tomb hieroglyphs in full colour." width="1600" height="900">
  </div>
  <h3>Giza AR</h3>
  <ul class="cardTags">
    <li>AR</li>
    <li>Design sprint</li>
    <li>Digital humanities</li>
    <li>Harvard University</li>
  </ul>
  <p>Creating an AR "window into the past" at the Great Pyramids of Giza, Egypt.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
