<a class="card" href="/portfolio/gsq">
  <div class="cardMedia">
    <img src="/assets/images/gsq-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Geological Survey of Queensland Open Data Portal</h3>
  <ul class="cardTags">
    <li>Big data</li>
    <li>Government</li>
    <li>Design systems</li>
    <li>Prototyping</li>
  </ul>
  <p>Making petabytes of geological survey data available for the mining industry in Queensland, Australia.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
