<a class="card" href="/portfolio/ideaverse">
  <div class="cardMedia">
    <img src="/assets/images/ideaverse-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Ideaverse Machine Learning App</h3>
  <ul class="cardTags">
    <li>Machine learning</li>
    <li>Startup</li>
    <li>Design sprint</li>
    <li>Prototyping</li>
  </ul>
  <p>Helping a Berlin based machine learning startup go from vague product idea to high-fidelity prototype in two weeks.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
