<a class="card" href="/portfolio/new-alexandria">
  <div class="cardMedia">
    <img src="/assets/images/new-alexandria-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>New Alexandria</h3>
  <ul class="cardTags">
    <li>Digital humanities</li>
    <li>Harvard University</li>
    <li>Publishing platform</li>
  </ul>
  <p>Designing an open, peer-reviewed, and accessible platform for commentaries of ancient texts.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
