<a class="card" href="https://oracy.app/" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/oracy-1.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Oracy</h3>
  <ul class="cardTags">
    <li>Personal project</li>
    <li>Design</li>
    <li>Full stack development</li>
    <li>Audio UX</li>
  </ul>
  <p>A side project I designed and developed, making audiobooks available for listening in a streamlined, simple UI.</p>
  <div class="cardButton button -arrow">Visit site{% include_relative /assets/images/icon-link.svg %}</div>
</a>
