<a class="card" href="https://orphe.us/" target="_blank" rel="noopener">
  <div class="cardMedia">
    <img src="/assets/images/orpheus-cover.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Orpheus</h3>
  <ul class="cardTags">
    <li>Product strategy</li>
    <li>Conceptual design</li>
    <li>Digital humanities</li>
    <li>Prototyping</li>
    <li>Front end development</li>
  </ul>
  <p>Ground up creation of a new digital archiving tool for a humanities startup in Cambridge, Massachusetts, USA.</p>
  <div class="cardButton button -arrow">Visit site{% include /svg/icon-link.svg %}</div>
</a>
