<a class="card" href="/portfolio/twipsum">
  <div class="cardMedia">
    <img src="/assets/images/twipsum-cover.jpg" alt="" width="2000" height="1125">
  </div>
  <h3>Twipsum</h3>
  <ul class="cardTags">
    <li>Design and development</li>
    <li>Side project</li>
    <li>Node.js</li>
    <li>Express.js</li>
  </ul>
  <p>A Twitter-to-lorem ipsum generator that I made as a side-project to learn Node.js front-end development.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
