<a class="card" href="/portfolio/zjumaa">
  <div class="cardMedia">
    <img src="/assets/images/zjumaa-ar-lady-pointing-artwork.jpg" alt="" width="1600" height="900">
  </div>
  <h3>Zhejiang University Museum AR</h3>
  <ul class="cardTags">
    <li>Digital humanities</li>
    <li>AR</li>
    <li>Mobile</li>
    <li>Prototype</li>
  </ul>
  <p>Designing a captivating AR experience for a brand new archaeology museum in Zheijiang, China.</p>
  <div class="cardButton button -arrow">Read more{% include /svg/icon-chevron-right.svg %}</div>
</a>
